<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel='shortcut icon' type='image/x-icon' href="{{ asset('images/Red-Edited-Logo.png')}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Final Project{% endblock %}</title>
        {#=========================================================#}
{#        <link rel="stylesheet" href="{{ asset('js/MTT/TextboxList.css')}}" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="{{ asset('js/MTT/myStyle.css')}}" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="{{ asset('js/MTT/TextboxList.Autocomplete.css')}}" type="text/css" media="screen" charset="utf-8"/>
#}
{#
        <script src="{{ asset('js/MTT/mootools-1.2.1-core-yc.js') }}"></script>

        <script src="{{ asset('js/MTT/GrowingInput.js') }}"></script>

        <script src="{{ asset('js/MTT/TextboxList.js') }}"></script>

        <script src="{{ asset('js/MTT/TextboxList.Autocomplete.js') }}"></script>
        <script src="{{ asset('js/MTT/addExperience.js') }}"></script>

        <script src="{{ asset('js/MTT/TextboxList.Autocomplete.Binary.js') }}"></script>#}
        {#=========================================================#}

        <link rel="stylesheet" href="{{ asset('css/metro.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/metro-icons.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/docs.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/css/font-awesome.min.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/header-style.css')}}" type="text/css"/>
        <script src="{{asset('js/jquery-2.1.3.min.js')}}" type="text/javascript"></script>
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
{% block body %}
 {% endblock %}
   

    {#<script src="{{asset('js/jquery-2.1.3.min.js')}}" type="text/javascript"></script>#}
    <script src="{{asset('js/metro.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/docs.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/prettify/run_prettify.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/ga.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/f.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/notification.js')}}"></script>
    <script src="{{asset('js/home-cutom-js.js')}}" type="text/javascript"></script>
   {# <script src="{{ asset('js/Rating.js') }}"></script>#}
    {% block javascripts %}

    {% endblock %}

</body>
</html>
