/*$Bg-Color :#144955;
$Pattern-Color:#F7F5E9;
$LoGo-Color:#C25B56;*/
/*C25B56*/
/*30EC6C*/
/*#0F7C94*/
/*ABA790*/
/*walaaaa
#51AE9D
#21B6A8
#A60A0A
*/
Back-Ground-Style, body #BG {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

OpacityBG, body #BG #OpacityBg {
  height: inherit; }

body .cell {
  background-color: transparent; }
body .genederLabels {
  padding-top: 25px; }
body .app-bar {
  padding-right: 5%;
  background-color: #21B6A8; }
  body .app-bar .app-bar-divider {
    background-color: #F7F5E9; }
  body .app-bar .app-bar-element {
    float: right;
    color: #F7F5E9; }
    body .app-bar .app-bar-element a.dropdown-toggle, body .app-bar .app-bar-element .dropdown-toggle:before, body .app-bar .app-bar-element span {
      color: #F7F5E9; }
    body .app-bar .app-bar-element:hover {
      background-color: #F7F5E9;
      color: #C25B56; }
      body .app-bar .app-bar-element:hover a.dropdown-toggle, body .app-bar .app-bar-element:hover .dropdown-toggle:before, body .app-bar .app-bar-element:hover span {
        background-color: #F7F5E9;
        color: #C25B56; }
  body .app-bar .app-bar-drop-container {
    background-color: #F7F5E9;
    border-color: #C25B56; }
    body .app-bar .app-bar-drop-container:before {
      border-color: #C25B56;
      background-color: #F7F5E9; }
    body .app-bar .app-bar-drop-container form {
      color: #C25B56; }
      body .app-bar .app-bar-drop-container form input, body .app-bar .app-bar-drop-container form .check {
        border-color: #C25B56;
        background-color: transparent; }
      body .app-bar .app-bar-drop-container form .mif-user, body .app-bar .app-bar-drop-container form .mif-lock {
        color: #C25B56; }
      body .app-bar .app-bar-drop-container form .form-actions .button {
        border-color: #C25B56;
        color: #C25B56;
        background-color: transparent;
        text-decoration: none; }
        body .app-bar .app-bar-drop-container form .form-actions .button:hover {
          background-color: #21B6A8; }
body #BG {
  background-image: url("../images/Pattern-BG4.jpg");
  background-attachment: fixed;
  margin-top: 0px;
  margin-bottom: 0px; }
  body #BG #OpacityBg {
    /*            background-color: rgba(253, 255, 164, 0.3);*/
    padding-bottom: 1%; }
    body #BG #OpacityBg .cells2 {
      margin-bottom: 0px; }
    body #BG #OpacityBg #FormWrapper.example {
      margin-top: 1%;
      border: 0px solid; }
      body #BG #OpacityBg #FormWrapper.example h1 {
        color: #C25B56;
        font-size: -webkit-xxx-large; }
      body #BG #OpacityBg #FormWrapper.example .icon {
        color: #C25B56;
        opacity: 1; }
      body #BG #OpacityBg #FormWrapper.example .input-control.modern .button.helper-button.reveal .mif-looks {
        color: #C25B56; }
      body #BG #OpacityBg #FormWrapper.example .input-control.modern input {
        border-bottom-color: #C25B56; }
      body #BG #OpacityBg #FormWrapper.example .input-control.modern .label, body #BG #OpacityBg #FormWrapper.example .input-control.modern .informer, body #BG #OpacityBg #FormWrapper.example .input-control.modern .placeholder {
        color: #C25B56; }
      body #BG #OpacityBg #FormWrapper.example .input-control.radio .check {
        border: 2px #C25B56 solid;
        background-color: transparent; }
      body #BG #OpacityBg #FormWrapper.example .input-control.radio .caption {
        color: #C25B56; }
      body #BG #OpacityBg #FormWrapper.example .PictureLabel {
        color: #C25B56; }
      body #BG #OpacityBg #FormWrapper.example .input-file-wrapper, body #BG #OpacityBg #FormWrapper.example .button {
        border-color: #C25B56;
        background-color: transparent; }
      body #BG #OpacityBg #FormWrapper.example .wrapBtns {
        text-align: center; }
        body #BG #OpacityBg #FormWrapper.example .wrapBtns input {
          margin-left: 2%;
          width: 40%;
          border-color: #C25B56;
          color: #C25B56;
          background-color: transparent; }
          body #BG #OpacityBg #FormWrapper.example .wrapBtns input:hover {
            background-color: #21B6A8; }
  body #BG .Logo {
    text-align: center;
    padding: 0px;
    margin-top: 3%;
    border: 0px solid;
    float: right; }
    body #BG .Logo img {
      width: 75%; }
  body #BG .Footer {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    margin: 0px;
    margin-top: 21px;
    background-color: #21B6A8;
    color: #F7F5E9; }

@media only screen and (max-width: 640px) {
  body #BG .Logo img {
    width: 90%; } }
@media only screen and (max-width: 1061px) {
  body #FormWrapper.example .grid {
    padding: 0px; }
    body #FormWrapper.example .grid .cell {
      margin: 0px 10px; } }

/*# sourceMappingURL=login-style.css.map */
