/*$Bg-Color :#144955;
$Pattern-Color:#F7F5E9;
$LoGo-Color:#C25B56;*/
/*C25B56*/
/*30EC6C*/
/*#0F7C94*/
/*ABA790*/
/*walaaaa
#51AE9D
#21B6A8
#A60A0A
*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
Back-Ground-Style, body #ProfileContainer, body #ProfileContainer .AddInterest #dialog9 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

OpacityBG {
  height: inherit; }

/*@import url(http://fonts.googleapis.com/css?family=Oswald);*/
body {
  background-color: #F7F5E9; }
  body > .grid {
    margin-bottom: 0px; }
  body .cell {
    background-color: transparent;
    margin-top: 15px;
    padding: 5px; }
  body .app-bar {
    color: #F7F5E9;
    background-color: #21B6A8;
    font-family: 'Ubuntu', sans-serif; }
    body .app-bar .app-bar-divider {
      background-color: #F7F5E9; }
    body .app-bar .app-bar-element a.dropdown-toggle, body .app-bar .app-bar-element .dropdown-toggle:before, body .app-bar .app-bar-element span {
      color: #F7F5E9; }
    body .app-bar .app-bar-element:hover {
      background-color: #F7F5E9;
      color: #C25B56; }
      body .app-bar .app-bar-element:hover a.dropdown-toggle, body .app-bar .app-bar-element:hover .dropdown-toggle:before, body .app-bar .app-bar-element:hover span {
        background-color: #F7F5E9;
        color: #C25B56; }
    body .app-bar ul.app-bar-menu li:hover, body .app-bar ul.app-bar-menu a:hover {
      background-color: #F7F5E9;
      color: #C25B56; }
    body .app-bar ul.app-bar-menu span {
      padding-bottom: 7px;
      margin-right: 2px; }
  body .sidebar2 {
    margin-right: 10px;
    border: 0px white solid;
    margin-top: 30px;
    background-color: #F7F5E9; }
    body .sidebar2 .set-border {
      border: 0px white solid; }
    body .sidebar2 div.sidebar-headings {
      padding-left: 0px;
      padding-right: 0px; }
      body .sidebar2 div.sidebar-headings div.logoSideBar img {
        border-bottom: 1px #bdb6b6 solid;
        padding: 20px; }
    body .sidebar2 .panel {
      margin-left: 20px;
      margin-right: 20px; }
      body .sidebar2 .panel .heading {
        margin-top: 20px;
        background-color: #C25B56; }
        body .sidebar2 .panel .heading .icon {
          background-color: #C25B56; }
          body .sidebar2 .panel .heading .icon .fa {
            display: block;
            margin-top: 2px; }
        body .sidebar2 .panel .heading .title {
          margin-left: 22%; }
      body .sidebar2 .panel .active {
        background-color: #F7F5E9;
        color: #C25B56; }
        body .sidebar2 .panel .active .icon {
          background-color: #F7F5E9; }
          body .sidebar2 .panel .active .icon .fa {
            color: #C25B56; }
  body #ProfileContainer {
    box-shadow: 0px -5px 25px 0px #838071;
    margin-left: 0%;
    padding-left: 2.12765%;
    padding-right: 2.12765%;
    padding-top: 4%;
    width: 81.7%;
    background-image: url("../images/Pattern-BG4.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat; }
    body #ProfileContainer .ProfileExperience .image-container .image-overlay {
      background-color: rgba(131, 128, 113, 0.5); }
    body #ProfileContainer .ProfileExperience .primary {
      background-color: #C25B56;
      color: #F7F5E9;
      border-color: #F7F5E9; }
    body #ProfileContainer .ProfileExperience .label {
      margin-top: 35px; }
    body #ProfileContainer .ProfileExperience .Btns {
      margin-top: 10px; }
      body #ProfileContainer .ProfileExperience .Btns .toolbar-button {
        background-color: transparent;
        border: 1px #C25B56 solid; }
        body #ProfileContainer .ProfileExperience .Btns .toolbar-button:hover {
          background-color: #C25B56; }
          body #ProfileContainer .ProfileExperience .Btns .toolbar-button:hover .mif-pencil, body #ProfileContainer .ProfileExperience .Btns .toolbar-button:hover .fa, body #ProfileContainer .ProfileExperience .Btns .toolbar-button:hover .mif-eye {
            color: #F7F5E9; }
      body #ProfileContainer .ProfileExperience .Btns .mif-pencil, body #ProfileContainer .ProfileExperience .Btns .fa, body #ProfileContainer .ProfileExperience .Btns .mif-eye {
        color: #C25B56; }
    body #ProfileContainer .ProfileExperience .comments {
      margin-top: 10%; }
      body #ProfileContainer .ProfileExperience .comments .list:hover {
        background-color: transparent; }
      body #ProfileContainer .ProfileExperience .comments .list .list-content:hover {
        background-color: transparent; }
      body #ProfileContainer .ProfileExperience .comments .list .list-content img {
        width: 50px;
        height: 50px;
        float: inherit; }
      body #ProfileContainer .ProfileExperience .comments .list .list-content .list-title {
        display: inline;
        font-size: 18px;
        font-weight: 500; }
      body #ProfileContainer .ProfileExperience .comments .list .list-content .comment-content {
        padding: 10px 0px;
        color: black;
        font-size: 14px; }
    body #ProfileContainer .MyTags .image-container .image-overlay, body #ProfileContainer .MyInterests .image-container .image-overlay {
      background-color: rgba(131, 128, 113, 0.5); }
    body #ProfileContainer .MyTags .Btns, body #ProfileContainer .MyInterests .Btns {
      margin-top: 0px; }
      body #ProfileContainer .MyTags .Btns .active, body #ProfileContainer .MyInterests .Btns .active {
        background-color: #C25B56; }
        body #ProfileContainer .MyTags .Btns .active .mif-pencil, body #ProfileContainer .MyTags .Btns .active .fa, body #ProfileContainer .MyTags .Btns .active .mif-eye, body #ProfileContainer .MyInterests .Btns .active .mif-pencil, body #ProfileContainer .MyInterests .Btns .active .fa, body #ProfileContainer .MyInterests .Btns .active .mif-eye {
          color: #F7F5E9; }
        body #ProfileContainer .MyTags .Btns .active:hover, body #ProfileContainer .MyInterests .Btns .active:hover {
          background-color: transparent;
          border: 1px #C25B56 solid; }
          body #ProfileContainer .MyTags .Btns .active:hover .mif-pencil, body #ProfileContainer .MyTags .Btns .active:hover .fa, body #ProfileContainer .MyTags .Btns .active:hover .mif-eye, body #ProfileContainer .MyInterests .Btns .active:hover .mif-pencil, body #ProfileContainer .MyInterests .Btns .active:hover .fa, body #ProfileContainer .MyInterests .Btns .active:hover .mif-eye {
            color: #C25B56; }
    body #ProfileContainer .MyTags .label, body #ProfileContainer .MyInterests .label {
      margin-top: 20px; }
    body #ProfileContainer .MyTags p, body #ProfileContainer .MyInterests p {
      margin-top: 7%;
      margin-bottom: 0px; }
    body #ProfileContainer .AddInterest {
      margin-bottom: 0px; }
      body #ProfileContainer .AddInterest #dialog9 {
        /*                width: 600px; 
                        height: 400px; 
                        display: block; 
                        top: 112px; 
                        overflow-y:scroll;*/
        background-image: url("../images/Pattern-BG4.jpg");
        background-attachment: fixed;
        background-size: contain;
        background-repeat: repeat; }
        body #ProfileContainer .AddInterest #dialog9 h2 {
          margin-left: 50px;
          margin-right: 50px;
          color: #21B6A8; }
        body #ProfileContainer .AddInterest #dialog9 p {
          float: left;
          color: #21B6A8;
          font-family: "Ubuntu", sans-serif;
          text-align: center;
          margin-right: 10px; }
          body #ProfileContainer .AddInterest #dialog9 p > span:nth-of-type(1) {
            color: #C25B56;
            padding: 10px; }
          body #ProfileContainer .AddInterest #dialog9 p > span:nth-of-type(2) {
            color: #21B6A8;
            font-size: 22px;
            font-family: "Ubuntu", sans-serif; }
      body #ProfileContainer .AddInterest .image-container .image-overlay {
        background-color: rgba(131, 128, 113, 0.5); }
      body #ProfileContainer .AddInterest .button {
        border-color: #C25B56;
        background-color: #F7F5E9; }
        body #ProfileContainer .AddInterest .button .mif-plus {
          color: #C25B56; }
        body #ProfileContainer .AddInterest .button:hover {
          border-color: #C25B56;
          background-color: #C25B56; }
          body #ProfileContainer .AddInterest .button:hover .mif-plus {
            color: #F7F5E9; }
      body #ProfileContainer .AddInterest .Btns .toolbar-button, body #ProfileContainer .AddInterest .Btns .toolbar-button.mif-pencil {
        background-color: transparent;
        border: 1px #C25B56 solid; }
        body #ProfileContainer .AddInterest .Btns .toolbar-button:hover, body #ProfileContainer .AddInterest .Btns .toolbar-button.mif-pencil:hover {
          border-color: #C25B56;
          background-color: #C25B56;
          color: #F7F5E9; }
    body #ProfileContainer #ProfileSettings.example {
      margin-top: 1%;
      border: 0px solid; }
      body #ProfileContainer #ProfileSettings.example h1 {
        color: #C25B56;
        font-size: -webkit-xxx-large; }
      body #ProfileContainer #ProfileSettings.example .icon {
        color: #C25B56;
        opacity: 1; }
      body #ProfileContainer #ProfileSettings.example .input-control.modern .button.helper-button.reveal .mif-looks {
        color: #C25B56; }
      body #ProfileContainer #ProfileSettings.example .input-control.modern input {
        border-bottom-color: #C25B56; }
      body #ProfileContainer #ProfileSettings.example .input-control.modern .label, body #ProfileContainer #ProfileSettings.example .input-control.modern .informer, body #ProfileContainer #ProfileSettings.example .input-control.modern .placeholder {
        color: #C25B56; }
      body #ProfileContainer #ProfileSettings.example .genederLabels {
        margin-top: 3%; }
        body #ProfileContainer #ProfileSettings.example .genederLabels .input-control.radio .check {
          border: 2px #C25B56 solid;
          background-color: transparent; }
        body #ProfileContainer #ProfileSettings.example .genederLabels .input-control.radio .caption {
          color: #C25B56; }
      body #ProfileContainer #ProfileSettings.example .PictureLabel {
        color: #C25B56; }
      body #ProfileContainer #ProfileSettings.example .input-file-wrapper, body #ProfileContainer #ProfileSettings.example .button {
        border-color: #C25B56;
        background-color: transparent; }
      body #ProfileContainer #ProfileSettings.example .wrapBtns {
        text-align: left; }
        body #ProfileContainer #ProfileSettings.example .wrapBtns input {
          margin-left: 2%;
          width: 20%;
          border-color: #C25B56;
          color: #C25B56;
          background-color: transparent; }
          body #ProfileContainer #ProfileSettings.example .wrapBtns input:hover {
            background-color: #21B6A8; }
  body .rating .score {
    display: none; }

@media screen and (max-width: 800px) {
  .app-bar:not(.no-responsive-future) .app-bar-pull {
    margin-right: 115px; }

  .app-bar:not(.no-responsive-future) .app-bar-menu {
    border-top: 1px solid #F7F5E9; }

  .app-bar:not(.no-responsive-future) .app-bar-menu li, .app-bar:not(.no-responsive-future) .app-bar-menu li a {
    background-color: #21B6A8;
    color: #F7F5E9; }
    .app-bar:not(.no-responsive-future) .app-bar-menu li:hover, .app-bar:not(.no-responsive-future) .app-bar-menu li a:hover {
      background-color: #F7F5E9;
      color: #C25B56; } }
@media screen and (max-width: 885px) {
  body .app-bar.fixed-top {
    position: fixed !important; } }
@media only screen and (max-width: 640px) {
  body #ProfileContainer {
    width: 100%; }
  body .app-bar.fixed-top {
    position: fixed !important; }
  body .sidebar2 {
    float: none;
    max-width: 100%; } }
@media only screen and (max-width: 950px) and (min-width: 770px) {
  .panel .heading {
    font-size: small; }
    .panel .heading .mif-minus {
      display: none; }
  .panel .content .list {
    padding: 0px; }
    .panel .content .list img {
      display: none; } }
@media screen and (max-width: 768px) {
  body #ProfileContainer {
    padding-top: 10px;
    width: 100%; } }
@media screen and (max-width: 507px) {
  #dialog9 h2 {
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px; } }

/*# sourceMappingURL=Profile-Style.css.map */
