<html>
    <head>
        <link rel='shortcut icon' type='image/x-icon' href="{{asset('images/Red-Edited-Logo.png')}}" />
        <title>About Es2l Mgarb</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{asset('css/metro.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('css/metro-icons.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('css/docs.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('css/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('css/animate1.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{asset('css/About-Style.css')}}" rel="stylesheet" type="text/css"/>
        <script src="{{asset('js/jquery-2.1.3.min.js')}}"></script>
        <script src="{{asset('js/jquery.tinycircleslider.js')}}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function ()
            {
                $('#rotatescroll').tinycircleslider({interval: true, dotsSnap: true, dotsHide: false});
            });
        </script>
    </head>
    <body>

        <!--Header -->
        {% if  app.user.id is defined %}
            <div class="app-bar drop-up fixed-top" data-role="appbar">
                <div class="app-bar-divider place-right"></div>
                <a class="app-bar-element branding">
                    <img src="images/ProjName.png" alt=""/>
                </a>
                <span class="app-bar-pull"></span>
                <div class="app-bar-element place-right">
                    <a class="dropdown-toggle" href="/logout" ><span class="mif-enter"></span> Logout</a>
                </div>
                <div class="app-bar-divider place-right"></div>
                <ul class="app-bar-menu place-right">
                    <li><a href="/home"> <span class="mif-home mif-lg"></span></a></li>
                    <li><a href="/user/{{ app.user.id}}/show"> Profile</a></li>
                    <li><a href="/experience/new"> Add Experience</a></li>
                    <li><a href="/" class="active"> About</a></li>
                </ul>
            </div>
        {%else%}
            <div class="app-bar drop-up fixed-top">
                <a href="/" class="app-bar-element branding place-left">
                    <img src="{{asset('images/ProjName.png')}}" alt=""/>
                </a>

                <span class="app-bar-pull"></span>
                <div class="app-bar-divider place-right"></div>
                <ul class="app-bar-menu place-right">
                    <li><a href="/">About Us</a></li>
                    <div class="app-bar-divider place-left"></div>
                    <li><a href="/login">Registration<span class="mif-arrow-right"></span></a></li>
                </ul>
                <div class="app-bar-divider place-right"> </div>

            </div>

        {%endif%}
        <div class="AboutUs grid">
            <div class="row cells3 First-Row animated bounceInLeft">
                <div class="cell">
                    <img src="images/Red-Edited-Logo.png" alt=""/>
                </div>
                <div class="cell colspan2 animated bounceInRight">
                    <h1>
                        Es2al Megrab
                    </h1>
                    <p>
                        Es2al Mgrab is a social network that allow people to write their experience in any field like sport ,Education ,life experiences,.... Anonymously no one Can judge on the real person who write this experience .
                        User can select specific interests to show experiences according to his interests,comment on any experience as anonymous.
                        Our Social media helps people to be in touch with each other's Experiences to et benfits from each other's Experiences. 
                    </p>
                </div>
            </div>
            <div class="row cells3 Second-Row">
                <div class="cell colspan2 place-left animated bounceInLeft">
                    <h1>
                        Es2al Megrab Team 
                    </h1>
                    <p>
                        We are a group of Information Technoloy Institute's students , and this our graduation project which our goal from is to help people not to be confused and to take decisions easily.
                    </p>
                </div>
                <div id="rotatescroll" class="cell place-right animated bounceInDown">
                    <div class="viewport">
                        <ul class="overview">
                            <li><a href="https://www.facebook.com/Dodo.Tota?fref=ts" target='_blank'>
                                    <img src="{{asset('images/hdr1.png')}}" alt=""/>
                                    <p>Hadeer Fawzy</p>
                                    <p>User Interface Designer</p>
                                </a>
                            </li>
                            <li><a href="https://www.facebook.com/amani.mohamed.10?fref=ts" target='_blank'>
                                    <img src="{{asset('images/amany.png')}}" alt=""/>
                                    <p>Amany Mohamed</p>
                                    <p>Open Source Developer</p>
                                </a>
                            </li>
                            <li><a href="https://www.facebook.com/marinawagihMrMr" target='_blank'>
                                    <img src="{{asset('images/marina1.png')}}" alt=""/>
                                    <p>Marina Wagih</p>
                                    <p>Open Source Developer</p>
                                </a>
                            </li>
                            <li><a href="https://www.facebook.com/kholoud.elkholy?fref=ts" target='_blank'>
                                    <img src="{{asset('images/kholod.png')}}" alt=""/>
                                    <p>Khoulod El Khouly</p>
                                    <p>Open Source Developer</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="dot"></div>
                    <!--                        <div class="overlay"></div>-->
                    <!--                        <div class="thumb"></div>-->
                </div>
            </div>
        </div>
        <p class="Footer">copyrights <i class="fa fa-copyright"></i> 2015</p>

        <script src="{{asset('js/metro.js')}}"></script>
        <script src="{{asset('js/docs.js')}}"></script>
        <script src="{{asset('js/prettify/run_prettify.js')}}"></script>
        <script src="{{asset('js/ga.js')}}"></script>
        <script src="{{asset('js/docs.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/home-cutom-js.js')}}" type="text/javascript"></script>
    </body>
</html>

