{% extends "::base.html.twig" %}

{% block title %}kaamhBundle:Security:login{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login-style.css')}}" type="text/css"/>
{% endblock %}
{% block body %}
    <div class="app-bar">

        <a class="app-bar-element branding place-left">
            <img src="{{asset('images/ProjName.png')}}" alt=""/>
        </a>
        <a class="app-bar-element place-right"  href="{{ fblogInURL }}">

            <span id="toggle-tiles-dropdown" class="icon mif-facebook mif-2x"></span>
        </a>
        <div class="app-bar-element place-right">
            <a class="dropdown-toggle"><span class="mif-enter"></span> Login </a>
            <div class="app-bar-drop-container fg-dark place-right" data-role="dropdown" data-no-close="true" style="display: none;">
                <div class="padding20">
                    <form action="{{ path('login_check') }}" method="post">
                        <h4 class="text-light">Es2al Megrab</h4>
                        <div class="input-control text">
                            <span class="mif-user prepend-icon"></span>
                            {# <input type="text">#}
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                        <div class="input-control text">
                            <span class="mif-lock prepend-icon"></span>
                            {# <input type="password">#}
                            <input type="password" id="password" name="_password" />
                        </div>
                        <label class="input-control checkbox small-check">
                            <input type="checkbox" name="_remember_me">
                            <span class="check"></span>
                            <span class="caption">Remember me</span>
                        </label>
                        <span class='error'>
                            {% if error %}
                                {{ error.messageKey|trans(error.messageData, 'security') }}&nbsp;!!
                            {% endif %} 
                        </span>
                        <div class="form-actions">
                            <button type="submit" class="button">Login</button>
                            <button type="button" class="button link">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="app-bar-divider place-right"> </div>
        <ul class="app-bar-menu place-right">
            <li><a href="/">About Us</a></li>
            <div class="app-bar-divider"></div>
        </ul>
    </div>

    <div class="grid" id="BG">
        <div id="OpacityBg">
            <div class="row cells2"> 
                <div id="FormWrapper" class="example cell">
                    {{ form_start(form ,{attr: {novalidate:'novalidate'}} ) }}

                    <div class="Title">
                        <h1>Sign Up</h1>
                        <span>&nbsp;or&nbsp;</span>
                        <a href="{{ fbregURL }}" class="signwithFB">
                            Sign Up With <span class="mif-facebook mif-3x"></span>
                        </a>
                    </div>
                    <div class="grid">
                        <div class="row cells2">
                            <div class="cell">
                                <div class="input-control modern text iconic">
                                    {{ form_widget(form.fristName,{})}}
                                    {#  <input id="kaamhbundle_user_fristName" type="text" required="required" name="kaamhbundle_user[fristName]">#}
                                    <span class="label">First Name</span>
                                    <span class="informer" id='informer'>Please enter your First Name</span>
                                    <span class="placeholder" id='placeholder'>First Name</span>
                                    <span class="icon mif-user"></span>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="input-control modern text iconic">
                                    {{ form_widget(form.lastName,{})}}
                                    {#                                        <input id="kaamhbundle_user_lastName" type="text" required="required" name="kaamhbundle_user[lastName]">#}
                                    <span class="label">Last Name</span>
                                    <span class="informer" id='informer2'>Please enter your Last Name</span>
                                    <span class="placeholder" id='placeholder2'>Last Name</span>
                                    <span class="icon mif-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="grid">
                        <div class="row cells2">
                            <div class="cell">
                                <div class="input-control modern password iconic" data-role="input">
                                    {#                                        <input type="email" style="padding-right: 36px;"  id="kaamhbundle_user_email" required="required" name="kaamhbundle_user[email]">#}
                                    {{ form_widget(form.email,{})}}
                                    <span class="label">E-mail</span>
                                    <span class="informer">Please enter your E-mail</span>
                                    <span class="placeholder">E-mail</span>
                                    <span class="icon mif-mail"></span>
                                </div>
                            </div>

                            <div class="cell genederLabels"> 
                                <label class="input-control radio">
                                    {#                                        <input type="radio" name="gender">#}
                                    {{ form_widget(form.gender[0],{})}}
                                    <span class="check"></span>
                                    <span class="caption"> Male </span>
                                </label>
                                <label class="input-control radio">
                                    {#                                        <input type="radio" name="gender">#}
                                    {{ form_widget(form.gender[1],{})}}
                                    <span class="check"></span>
                                    <span class="caption"> Female </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="grid">
                        <div class="row cells2">
                            <div class="cell">
                                <div class="input-control modern password iconic" data-role="input">
                                    {#                                        <input type="password" style="padding-right: 36px;">#}
                                    {{ form_widget(form.password.first,{})}}
                                    <span class="label">Password</span>
                                    <span class="informer">Please enter your Password</span>
                                    <span class="placeholder">Password</span>
                                    <span class="icon mif-lock"></span>
                                    <button class="button helper-button reveal" tabindex="-1" type="button"><span class="mif-looks"></span></button>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="input-control modern password iconic" data-role="input">
                                    {#                                        <input type="password" style="padding-right: 36px;">#}
                                    {{ form_widget(form.password.second,{})}}
                                    <span class="label">Repeat password</span>
                                    <span class="informer">Please repeat password</span>
                                    <span class="placeholder">Repeat password</span>
                                    <span class="icon mif-lock"></span>
                                    <button class="button helper-button reveal" tabindex="-1" type="button"><span class="mif-looks"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="row cells2">
                            <div class="cell">
                                <div class="PictureLabel">Profile Picture</div>
                                <div class="input-control file full-size" data-role="input">
                                    {#                                        <input type="file" tabindex="-1" style="z-index: 0;">#}
                                    {{ form_widget(form.profilePicture,{})}}
                                    <button class="button" type="button"><img src="images/Blank_Folder.png"></button>
                                </div></div>
                        </div>
                    </div>
                    <br>
                    <div class="wrapBtns">
                        <input type="submit" value="Submit" id="kaamhbundle_user_submit" name="kaamhbundle_user[submit]">
                        {#{{ form_widget(form.submit,{})}}#}
                    </div>
                    {{form_end(form)}}
                </div>
                <div class="Logo example cell">
                    <img src="images/Red-Edited-Logo.png" alt="" class="responsive"/>
                </div>
            </div>
            <p class="Footer">copyrights <i class="fa fa-copyright"></i> 2015</p>

        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{asset('js/login-page.js')}}" type="text/javascript"></script>
{% endblock %}
