{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link href="{{asset('css/header-style.css')}}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block title %}Home{% endblock %}
{% block body %}
    {#========================== Interests POPUP =========================#}
    {%if just_Regester == "true" %}
        {#{{just_Regester}}
        {{just_Regester}}
        {{just_Regester}}#}
        <div data-role="dialog" id="dialog8" class="padding20 dialog" data-close-button="true" data-overlay="true" data-overlay-color="op-dark" style="width: 600px; height: 400px;display:none;   top: 112px; overflow-y:scroll"> 

            {% for item in Tages %}
                <div id="{{ item.id }}" class="iterest"> 
                    <img src="{{asset(item.picture)}}">
                    <spam>
                        {{ item.name }}
                    </spam>

                </div>
            {%endfor%}


            <button type="button" >Close</button>
            <button type="button" class="btn btn-primary" id='saveIntersests'>Save</button>
            <script src="{{ asset('js/AddIntersetes.js') }}"></script>
        </div>
    {%endif %}

    <!------------------------------------->
    {#=====================================================================#}
    <!-- Header -->
    <div class="app-bar drop-up fixed-top" data-role="appbar">
        <div class="app-bar-divider place-right"></div>
        <a class="app-bar-element branding">
            <img src="{{asset('images/ProjName.png')}}" alt=""/>
        </a>
        <span class="app-bar-pull"></span>
        <div class="app-bar-element place-right">
            <a class="dropdown-toggle" href="/logout"><span class="mif-enter"></span> Logout</a>
        </div>
        <div class="app-bar-divider place-right"></div>
        <ul class="app-bar-menu place-right">
            <li><a href="/home"> <span class="mif-home mif-lg"></span></a></li>
            <li><a href="/user/{{ app.user.id }}/show"> Profile</a></li>
            <li><a href="/experience/new"> Add Experience</a></li>
            <li><a href="/"> About</a></li>
        </ul>

    </div>
    <input type="hidden" id="ownerdata" value="{{app.user.isHidden}}:{{app.user.fristName}}:{{asset(app.user.profilePicture)}}:{{asset('images/Anonymous.png')}}">     
    {#=====================================================================#}
    <div class="grid">
        <div class="row cells5">
            <div class="cell SideBar">
                <div class="sidebar2">
                    <div class="sidebar-headings listview set-border padding10" data-role="listview">
                        <div class="logoSideBar">
                            <img src='images/Red-Edited-Logo.png' class="responsive" />
                        </div>
                        {#===============Trendy TAG ========================#}
                        <div class="panel collapsible" data-role="panel">
                            <div class="heading">
                                <span class="title">Trendy Tags</span>
                            </div>
                            <div class="content">
                                <div class="list-group-content" style="display: block;">
                                    {%for  item in trendyTag %}

                                        <div class="list-title">
                                            <span class="mif-tag"></span>
                                            <a href="/tag/{{item[0].id}}/show"> 
                                                <span class="">{%if item[0].name|length > 8%}{{item[0].name[:8]}}...{%else%}{{item[0].name}}{%endif%} </span>
                                            </a>
                                        </div>

                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        {#==================================================#}
                        {#============= Notification =================#}
                        <div class="panel collapsible" data-role="panel">
                            <div class="heading">
                                <span class="title" >Notifications</span>
                            </div>
                            <div class="content">
                                <div class="list-group-content" style="display: block;">
                                    {%for  item in popularExp %}
                                        <a href="/experience/{{item.experience.id}}/show">

                                        <div class="list-title">
                                            <span class="mif-user-check mif-2x"></span>
                                            <span class="NotificationContent">someone comment oh your expeirnce "{{item.body[:10]}}..."</span> 


                                            </div> 
                                        </a>
                                    {%endfor%}

                                </div>
                            </div>
                        </div>
                        {#==================================================#}
                    </div>
                </div>
            </div>
            <div class="cell colspan4" id="container">
                <div class="grid">
                    <div class="row cells2 searchRow">
                        <div class="cell"></div>
                        <div class="cell">
                            <form  action="/home/getAllTags" method="post">
                                <div class="input-control text place-right full-size" data-role="input">
                                    <input type="text" style="padding-right: 54px;" name="search">
                                    <button class="button" type="submit"><span class="mif-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row cells3 Body">
                        <!-------------- frist Block ---------------->   
                        <div id='cell1'class="cell">

                            {%for  item in result %}


                                {% if( (loop.index0 % 3) == 0 )%}
                                    <div class="cell"  id="divExp{{item[0].id}}" >
                                        <div class="image-container full-size">
                                            <div class="frame">
                                                <img src="{{asset(item[0].picture)}}" class='full-size'>
                                            </div>
                                            <div class="image-overlay">
                                                {%for item2 in item[0].tags%}
                                                    <div class="TagsImgOverlay">
                                                        <span class="mif-tag"></span>
                                                        <p>{{item2.tag.name}}</p>
                                                    </div>
                                                {%endfor%}

                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="label">
                                            <p>
                                                {{item[0].body[:100]}}...
                                                <a href="/experience/{{item[0].id}}/show">See More</a>
                                            </p>
                                            {#=======================rate===================================#}
                                            {%set rateValue=0%}
                                            {%if(item[0].rates is not empty )%}
                                                {%for onerate in item[0].rates%}
                                                    {% set rateValue = rateValue + onerate.rate %}
                                                {%endfor%}
                                                {%set rateValue = (rateValue)/(item[0].rates|length) %}
                                            {%endif%}
                                            {# ========================================================= /#}
                                            <div class="rating" data-role="rating" data-size="default" data-value="{{rateValue}}" style="pointer-events:none;">                                            </div>
                                            <button class="seeMore1 button primary place-right" id="{{item[0].id}}xseeMore"><span class="mif-bubbles"></span> Comments</button>

                                            <div class="comments" style="display: none" id="{{item[0].id}}xContainer">

                                                <div class="list">
                                                    <div class="list-content">
                                                        <div class="comment-content">
                                                            <div class="input-control text full-size">
                                                                <input id="{{item[0].id}}xinputcomment" class="mycommentcontainer" type="text" placeholder="Share Your Opinion Here...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                {%for comment in item[0].comments|reverse%}
                                                    <div class="list" id="{{comment.id}}xcomment">
                                                        {%if(comment.user.isHidden==1)%}
                                                            <img src="{{asset('images/Anonymous.png')}}" style="width:50px; height: 50px;"alt=""/>
                                                            <span class="list-title">Anonymous</span>                 
                                                        {%else%}   
                                                            <img src="{{asset(comment.user.profilePicture)}}"  style="width:50px; height: 50px;" alt=""/>
                                                            <span class="list-title">{{comment.user.fristName}}</span>          
                                                        {%endif%}   
                                                        <div class="comment-content">
                                                            <div class="padding20 op-white">
                                                                <p id="{{comment.id}}p">{{comment.body}}</p>
                                                            </div>
                                                        </div>                               
                                                    </div>
                                                {%endfor%}                               


                                            </div>
                                        </div>
                                    </div>
                                {%endif%}

                            {%endfor%}

                        </div>
                        <!-------------- Second Block ---------------->
                        <div id='cell2' class="cell" >
                            {% set next = 0 %}
                            {%for  item in result  %}


                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0 +1%}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="divExp{{item[0].id}}" >
                                        <div class="image-container full-size">
                                            <div class="frame">
                                                <img src="{{asset(item[0].picture)}}" class='full-size'>
                                            </div>
                                            <div class="image-overlay">
                                                {%for item2 in item[0].tags%}
                                                    <div class="TagsImgOverlay">
                                                        <span class="mif-tag"></span>
                                                        <p>{{item2.tag.name}}</p>
                                                    </div>
                                                {%endfor%}

                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="label">
                                            <p>
                                                {{item[0].body[:100]}}...
                                                <a href="/experience/{{item[0].id}}/show">See More</a>
                                            </p>
                                            {#=======================rate===================================#}
                                            {%set rateValue=0%}
                                            {%if(item[0].rates is not empty )%}
                                                {%for onerate in item[0].rates%}
                                                    {% set rateValue = rateValue + onerate.rate %}
                                                {%endfor%}
                                                {%set rateValue = (rateValue)/(item[0].rates|length) %}
                                            {%endif%}
                                            {# ========================================================= /#}
                                            <div class="rating" data-role="rating" data-size="default" data-value="{{rateValue}}" style="pointer-events:none;">                                            </div>
                                            <button class="seeMore1 button primary place-right" id="{{item[0].id}}xseeMore"><span class="mif-bubbles"></span> Comments</button>

                                            <div class="comments" style="display: none" id="{{item[0].id}}xContainer">

                                                <div class="list">
                                                    <div class="list-content">
                                                        <div class="comment-content">
                                                            <div class="input-control text full-size">
                                                                <input id="{{item[0].id}}xinputcomment" class="mycommentcontainer" type="text" placeholder="Share Your Opinion Here...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                {%for comment in item[0].comments|reverse%}
                                                    <div class="list" id="{{comment.id}}xcomment">
                                                        {%if(comment.user.isHidden==1)%}
                                                            <img src="{{asset('images/Anonymous.png')}}" style="width:50px; height: 50px;"alt=""/>
                                                            <span class="list-title">Anonymous</span>                 
                                                        {%else%}   
                                                            <img src="{{asset(comment.user.profilePicture)}}"  style="width:50px; height: 50px;" alt=""/>
                                                            <span class="list-title">{{comment.user.fristName}}</span>          
                                                        {%endif%}   
                                                        <div class="comment-content">
                                                            <div class="padding20 op-white">
                                                                <p id="{{comment.id}}p">{{comment.body}}</p>
                                                            </div>
                                                        </div>                               
                                                    </div>
                                                {%endfor%}                               


                                            </div>
                                        </div>
                                    </div>
                                {%endif%}

                            {%endfor%}


                        </div>
                        <!---------------- Third Block ------------------>
                        <div id='cell3' class="cell" >
                            {% set next = 0 %}
                            {%for  item in result  %}


                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0 +2%}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="divExp{{item[0].id}}">
                                        <div class="image-container full-size">
                                            <div class="frame">
                                                <img src="{{asset(item[0].picture)}}" class='full-size'>
                                            </div>
                                            <div class="image-overlay">
                                                {%for item2 in item[0].tags%}
                                                    <div class="TagsImgOverlay">
                                                        <span class="mif-tag"></span>
                                                        <p>{{item2.tag.name}}</p>
                                                    </div>
                                                {%endfor%}

                                            </div>
                                        </div>
                                      
                                        <br><br>
                                        <div class="label">
                                            <p>
                                                {{item[0].body[:100]}}...
                                                <a href="/experience/{{item[0].id}}/show">See More</a>
                                            </p>
                                            {#=======================rate===================================#}
                                            {%set rateValue=0%}
                                            {%if(item[0].rates is not empty )%}
                                                {%for onerate in item[0].rates%}
                                                    {% set rateValue = rateValue + onerate.rate %}
                                                {%endfor%}
                                                {%set rateValue = (rateValue)/(item[0].rates|length) %}
                                            {%endif%}
                                            {# ========================================================= /#}
                                            <div class="rating" data-role="rating" data-size="default" data-value="{{rateValue}}" style="pointer-events:none;">                                            </div>
                                            <button class="seeMore1 button primary place-right" id="{{item[0].id}}xseeMore"><span class="mif-bubbles"></span> Comments</button>

                                            <div class="comments" style="display: none" id="{{item[0].id}}xContainer">

                                                <div class="list">
                                                    <div class="list-content">
                                                        <div class="comment-content">
                                                            <div class="input-control text full-size">
                                                                <input id="{{item[0].id}}xinputcomment" class="mycommentcontainer" type="text" placeholder="Share Your Opinion Here...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                {%for comment in item[0].comments|reverse%}
                                                    <div class="list" id="{{comment.id}}xcomment">
                                                        {%if(comment.user.isHidden==1)%}
                                                            <img src="{{asset('images/Anonymous.png')}}" style="width:50px; height: 50px;"alt=""/>
                                                            <span class="list-title">Anonymous</span>                 
                                                        {%else%}   
                                                            <img src="{{asset(comment.user.profilePicture)}}"  style="width:50px; height: 50px;" alt=""/>
                                                            <span class="list-title">{{comment.user.fristName}}</span>          
                                                        {%endif%}   
                                                        <div class="comment-content">
                                                            <div class="padding20 op-white">
                                                                <p id="{{comment.id}}p">{{comment.body}}</p>
                                                            </div>
                                                        </div>                               
                                                    </div>
                                                {%endfor%}                               


                                            </div>
                                        </div>
                                    </div>
                                {%endif%}

                            {%endfor%}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{asset('js/Home-Page.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/Rating.js')}}"></script>
    <script src="{{ asset('js/AddComment2.js') }}"></script>
    <script src="{{ asset('js/DeleteComment2.js') }}"></script>
    <script src="{{ asset('js/EditComment2.js') }}"></script>
    <script  src="{{ asset('js/Design.js') }}"></script>
    <script  src="{{ asset('js/HideExperience.js') }}"></script>
    <script  src="{{ asset('js/DeleteExperience.js') }}"></script>
{% endblock %}