{% extends "::base.html.twig" %}

{% block title %}kaamhBundle:Home:search{% endblock %}

{% block body %}
  {{result[0].experiences[0].experience.body}}
 <input type="text"  name="searchtag" id="1" />

     <script>

 
       
         
 
             $('input').keyup(function () {
                mytag = $(this).val();
                alert($(this).val());
            
               $.ajax({
                   type: "POST",
                   url: "/home/getAllTags",
                   data: {mytag: mytag},
                   success: function (result)
                   {
                       alert(result);
                   },
                   error: function (XMLHttpRequest, textStatus, errorThrown)
                   {
                       alert('Error : ' + errorThrown);
                   }
              });

           });

                </script>

{%endblock%}
