.form_tags { margin-bottom: 10px; }

/* Setting widget width example */
.textboxlist { width: 400px; }

/* Preloader for autocomplete */
.textboxlist-loading { background: url('images/spinner.gif') no-repeat 380px center; }

/* Autocomplete results styling */
.form_friends .textboxlist-autocomplete-result { overflow: hidden; zoom: 1; }
.form_friends .textboxlist-autocomplete-result img { float: left; padding-right: 10px; }

.note { color: #666; font-size: 90%; }
#footer { margin: 50px; text-align: center; }