/*$Bg-Color :#144955;
$Pattern-Color:#F7F5E9;
$LoGo-Color:#C25B56;*/
/*C25B56*/
/*30EC6C*/
/*#0F7C94*/
/*ABA790*/
/*walaaaa
#51AE9D
#21B6A8
#A60A0A
*/
Back-Ground-Style, body .AboutUs {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

OpacityBG {
  height: inherit; }

StyleCols, body .AboutUs .First-Row.cells3 .cell.colspan2, body .AboutUs .Second-Row.cells3 .colspan2 {
  padding: 3%;
  background-color: white; }

StyleColsH, body .AboutUs .First-Row.cells3 .cell.colspan2 h1, body .AboutUs .Second-Row.cells3 .colspan2 h1 {
  color: #fbb116;
  border-left: 6px solid #fbb116;
  margin: 0px;
  padding-left: 15px;
  font-weight: bold; }

StyleColsP, body .AboutUs .First-Row.cells3 .cell.colspan2 p, body .AboutUs .Second-Row.cells3 .colspan2 p {
  color: #c25b56;
  letter-spacing: 1px;
  line-height: 25px;
  color: #013b4f;
  font-weight: bold; }

body {
  background-color: white; }
  body > .grid {
    margin-bottom: 0px; }
  body .cell {
    background-color: transparent;
    margin-top: 15px;
    padding: 5px; }
  body .app-bar {
    color: white;
    background-color: #013b4f; }
    body .app-bar .app-bar-divider {
      background-color: #fbb116; }
    body .app-bar .app-bar-element.branding img {
      margin-top: 7px; }
    body .app-bar .app-bar-element.branding:hover {
      background-color: transparent; }
    body .app-bar .app-bar-element.place-right a.dropdown-toggle, body .app-bar .app-bar-element.place-right .dropdown-toggle:before, body .app-bar .app-bar-element.place-right span {
      color: white; }
    body .app-bar .app-bar-element.place-right:hover {
      background-color: #45bfb9;
      color: white;
      text-decoration: none; }
      body .app-bar .app-bar-element.place-right:hover a.dropdown-toggle, body .app-bar .app-bar-element.place-right:hover .dropdown-toggle:before, body .app-bar .app-bar-element.place-right:hover span {
        background-color: #45bfb9;
        color: white;
        text-decoration: none; }
    body .app-bar ul.app-bar-menu.place-right li:hover, body .app-bar ul.app-bar-menu.place-right a:hover {
      background-color: #45bfb9;
      color: white;
      text-decoration: none; }
    body .app-bar ul.app-bar-menu.place-right span.mif-arrow-right {
      margin-top: 0px;
      margin-right: 2px;
      margin-left: 5px; }
    body .app-bar ul.app-bar-menu.place-right span.mif-home {
      margin-top: 15px; }
  body .AboutUs {
    box-shadow: 0px -5px 25px 0px #838071;
    padding: 4% 10%;
    margin: 2.12765% 0%;
    margin-bottom: 0px;
    background-image: url("../images/Pattern-BG4.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat; }
    body .AboutUs .First-Row.cells3 .cell.colspan2 {
      margin-top: 4.5%; }
    body .AboutUs .Second-Row.cells3 .colspan2 {
      margin-top: 2%; }
    body .AboutUs .Second-Row.cells3 .overview li {
      background-color: #013b4f; }
      body .AboutUs .Second-Row.cells3 .overview li img {
        background-color: white; }
      body .AboutUs .Second-Row.cells3 .overview li p {
        color: white;
        text-align: center;
        font-size: large;
        margin-bottom: 0px;
        margin-top: 10px; }
        body .AboutUs .Second-Row.cells3 .overview li p:nth-of-type(1) {
          margin-top: 35px; }
    body .AboutUs .Second-Row.cells3 .bounceInLeft {
      -webkit-animation-delay: 1s;
      /* Chrome, Safari, Opera */
      animation-delay: 1s; }
    body .AboutUs .Second-Row.cells3 #rotatescroll {
      margin-right: 25px; }
  body .Footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    margin: 0px;
    margin-top: 0px;
    background-color: #013b4f;
    color: white; }

img {
  border: 0; }

/* Tiny Circleslider */
#rotatescroll {
  height: 300px;
  position: relative;
  width: 300px; }

#rotatescroll .viewport {
  height: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 300px; }

#rotatescroll .overview {
  position: absolute;
  width: 798px;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0; }

#rotatescroll .overview li {
  height: 300px;
  width: 300px;
  float: left;
  position: relative; }

/*#rotatescroll .overlay {background:url(../images/bg-rotatescroll.png) no-repeat 0 0; pointer-events: none; position: absolute; left: 0; top: 0; height:300px; width:300px; }*/
/*#rotatescroll .thumb { background:url(../images/bg-thumb.png) no-repeat 50% 50%; position: absolute; top: -3px; cursor: pointer; left: 137px; width: 100px; z-index: 200;  height: 100px; }*/
#rotatescroll .dot {
  background: url(../images/bg-dot.png) no-repeat 0 0;
  display: none;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 155px;
  top: 3px;
  z-index: 100; }

#rotatescroll .dot span {
  display: none; }

@media screen and (max-width: 800px) {
  .app-bar:not(.no-responsive-future) .app-bar-pull {
    margin-right: 115px; }

  .app-bar:not(.no-responsive-future) .app-bar-menu {
    border-top: 1px solid white; }

  .app-bar:not(.no-responsive-future) .app-bar-menu li, .app-bar:not(.no-responsive-future) .app-bar-menu li a {
    background-color: #013b4f;
    color: white; }
    .app-bar:not(.no-responsive-future) .app-bar-menu li:hover, .app-bar:not(.no-responsive-future) .app-bar-menu li a:hover {
      background-color: white;
      color: #013b4f; } }
@media screen and (max-width: 885px) {
  body .app-bar.fixed-top {
    position: fixed !important; } }
@media only screen and (max-width: 640px) {
  body .AboutUs {
    margin-top: 10.12765%; }
  body #container {
    width: 100%; }
  body .app-bar.fixed-top {
    position: fixed !important; }
  body .sidebar2 {
    float: none;
    max-width: 100%; } }
@media only screen and (max-width: 950px) and (min-width: 770px) {
  .panel .heading {
    font-size: small; }
    .panel .heading .mif-minus {
      display: none; }
  .panel .content .list {
    padding: 0px; }
    .panel .content .list img {
      display: none; } }
@media screen and (max-width: 768px) {
  body #container {
    padding-top: 10px;
    width: 100%; } }
@media screen and (max-width: 370px) and (min-width: 0px) {
  body .app-bar .branding img {
    height: 10px;
    width: 25 px; } }

/*# sourceMappingURL=About-Style.css.map */
