/*$Bg-Color :#144955;
$Pattern-Color:#F7F5E9;
$LoGo-Color:#C25B56;*/
/*C25B56*/
/*30EC6C*/
/*#0F7C94*/
/*ABA790*/
/*walaaaa
#51AE9D
#21B6A8
#A60A0A
*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
Back-Ground-Style, body .Content {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

OpacityBG {
  height: inherit; }

/*@import url(http://fonts.googleapis.com/css?family=Oswald);*/
body {
  background-color: white; }
  body > .grid {
    margin-bottom: 0px; }
  body .cell {
    background-color: transparent;
    margin-top: 15px;
    padding: 5px; }
  body .Content {
    margin-top: 4.3%;
    background-image: url("../images/Pattern-BG4.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat;
    height: 667px;
    margin-left: 2%;
    padding-top: 2%; }
    body .Content h1 {
      color: #45bfb9;
      border-left: 6px solid #fbb116;
      padding-left: 15px;
      margin-bottom: 4%;
      font-weight: bold; }
    body .Content label {
      font-size: 18px;
      margin-right: 3%; }
    body .Content #kaamhbundle_experience_submit {
      background-color: #45bfb9;
      padding: 10px 20px;
      border: 0px;
      color: white; }
      body .Content #kaamhbundle_experience_submit:hover {
        border: 2px solid #fbb116; }
    body .Content .PictureLabel {
      margin-top: 1%; }
    body .Content .form_friends {
      margin-top: 1%; }
    body .Content #kaamhbundle_experience_body {
      margin: 0px;
      width: 319px;
      height: 120px; }

@media screen and (max-width: 725px) and (min-width: 0px) {
  body {
    margin-top: 10%; } }

/*# sourceMappingURL=Add-Experience.css.map */
