/*$Bg-Color :#144955;
$Pattern-Color:#F7F5E9;
$LoGo-Color:#C25B56;*/
/*C25B56*/
/*30EC6C*/
/*#0F7C94*/
/*ABA790*/
/*walaaaa
#51AE9D
#21B6A8
#A60A0A
*/
Back-Ground-Style, body #container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

OpacityBG {
  height: inherit; }

body {
  background-color: white; }
  body > .grid {
    margin-bottom: 0px; }
  body .cell {
    background-color: transparent;
    margin-top: 15px;
    padding: 5px; }
  body .app-bar {
    color: white;
    background-color: #013b4f; }
    body .app-bar .app-bar-element.branding:hover {
      background-color: transparent; }
    body .app-bar .app-bar-divider {
      background-color: #fbb116; }
    body .app-bar .app-bar-element.place-right a.dropdown-toggle, body .app-bar .app-bar-element.place-right .dropdown-toggle:before, body .app-bar .app-bar-element.place-right span {
      color: white; }
    body .app-bar .app-bar-element.place-right:hover {
      background-color: #45bfb9;
      color: white; }
      body .app-bar .app-bar-element.place-right:hover a.dropdown-toggle, body .app-bar .app-bar-element.place-right:hover .dropdown-toggle:before, body .app-bar .app-bar-element.place-right:hover span {
        background-color: #45bfb9;
        color: white; }
    body .app-bar ul.app-bar-menu li:hover, body .app-bar ul.app-bar-menu a:hover {
      background-color: #45bfb9;
      color: white; }
    body .app-bar ul.app-bar-menu span {
      padding-bottom: 7px;
      margin-right: 2px; }
    body .app-bar ul.app-bar-menu .mif-home {
      display: block;
      margin-top: 14px; }
  body .sidebar2 {
    margin-right: 10px;
    border: 0px white solid;
    margin-top: 30px;
    background-color: white; }
    body .sidebar2 .set-border {
      border: 0px white solid; }
    body .sidebar2 div.sidebar-headings {
      padding-left: 0px;
      padding-right: 0px; }
      body .sidebar2 div.sidebar-headings div.logoSideBar img {
        border-bottom: 5px #45bfb9 solid;
        padding: 20px; }
      body .sidebar2 div.sidebar-headings .content {
        background-color: white; }
        body .sidebar2 div.sidebar-headings .content .list-group-content .list-title {
          margin-bottom: 10px;
          padding: 5px 10px; }
          body .sidebar2 div.sidebar-headings .content .list-group-content .list-title:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.7);
            border: 1px solid #fbb116; }
          body .sidebar2 div.sidebar-headings .content .list-group-content .list-title a {
            font-size: 20px; }
            body .sidebar2 div.sidebar-headings .content .list-group-content .list-title a:hover {
              background-color: transparent; }
            body .sidebar2 div.sidebar-headings .content .list-group-content .list-title a span {
              color: #45bfb9; }
          body .sidebar2 div.sidebar-headings .content .list-group-content .list-title .NotificationContent {
            color: #45bfb9; }
          body .sidebar2 div.sidebar-headings .content .list-group-content .list-title .mif-tag, body .sidebar2 div.sidebar-headings .content .list-group-content .list-title .mif-user-check, body .sidebar2 div.sidebar-headings .content .list-group-content .list-title span {
            color: #fbb116; }
    body .sidebar2 .panel {
      margin-left: 20px;
      margin-right: 20px; }
      body .sidebar2 .panel .title {
        font-size: medium; }
      body .sidebar2 .panel .heading {
        margin-top: 20px;
        background-color: #fbb116;
        font-weight: bold; }
  body #container {
    box-shadow: 0px -5px 25px 0px #838071;
    margin-left: 0%;
    padding-left: 2.12765%;
    padding-right: 2.12765%;
    padding-top: 4%;
    width: 81.7%;
    background-image: url("../images/Pattern-BG4.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat; }
    body #container .image-container .image-overlay {
      background-color: rgba(3, 155, 149, 0.4); }
      body #container .image-container .image-overlay .TagsImgOverlay {
        float: left;
        color: white; }
        body #container .image-container .image-overlay .TagsImgOverlay p {
          display: inline-block;
          margin-right: 10px;
          font-size: 18px; }
    body #container .Btns {
      margin-top: 10px;
      cursor: pointer; }
      body #container .Btns .toolbar-button {
        background-color: #98948A; }
        body #container .Btns .toolbar-button .mif-pencil, body #container .Btns .toolbar-button .fa, body #container .Btns .toolbar-button .mif-eye {
          color: white; }
        body #container .Btns .toolbar-button:hover {
          border: 2px solid #fbb116; }
    body #container .Btns .chnMod {
      background-color: #45bfb9; }
      body #container .Btns .chnMod:hover {
        border: 2px solid #fbb116; }
      body #container .Btns .chnMod .mif-eye {
        color: white; }
    body #container .searchRow {
      margin-bottom: 0px; }
      body #container .searchRow .input-control input, body #container .searchRow .input-control button {
        border-color: #fbb116;
        background-color: transparent; }
        body #container .searchRow .input-control input .mif-search, body #container .searchRow .input-control button .mif-search {
          color: #fbb116; }
    body #container .cells3 .primary {
      background-color: #45BFB9;
      color: white;
      border: 0px;
      margin: 0px;
      border-radius: 4px; }
      body #container .cells3 .primary:hover {
        border-bottom: 4px solid #fbb116; }
    body #container .cells3 .comments {
      margin-top: 10%; }
      body #container .cells3 .comments .list:hover {
        background-color: transparent; }
      body #container .cells3 .comments .list .list-content:hover {
        background-color: transparent; }
      body #container .cells3 .comments .list .list-content img {
        width: 50px;
        height: 50px;
        float: inherit; }
      body #container .cells3 .comments .list .list-content .list-title {
        display: inline;
        font-size: 18px;
        font-weight: 500; }
      body #container .cells3 .comments .list .list-content .comment-content {
        padding: 10px 0px;
        color: black;
        font-size: 14px; }
        body #container .cells3 .comments .list .list-content .comment-content .mif-pencil, body #container .cells3 .comments .list .list-content .comment-content .fa {
          color: #013b4f; }
  body .rating .score {
    display: none; }

@media screen and (max-width: 800px) {
  .app-bar:not(.no-responsive-future) .app-bar-pull {
    margin-right: 115px; }

  .app-bar:not(.no-responsive-future) .app-bar-menu {
    border-top: 1px solid white; }

  .app-bar:not(.no-responsive-future) .app-bar-menu li, .app-bar:not(.no-responsive-future) .app-bar-menu li a {
    background-color: #013b4f;
    color: white; }
    .app-bar:not(.no-responsive-future) .app-bar-menu li:hover, .app-bar:not(.no-responsive-future) .app-bar-menu li a:hover {
      background-color: white;
      color: #013b4f; } }
@media screen and (max-width: 885px) {
  body .app-bar.fixed-top {
    position: fixed !important; } }
@media only screen and (max-width: 640px) {
  body #container {
    width: 100%; }
  body .app-bar.fixed-top {
    position: fixed !important; }
  body .sidebar2 {
    float: none;
    max-width: 100%; } }
@media only screen and (max-width: 950px) and (min-width: 770px) {
  .panel .heading {
    font-size: small; }
    .panel .heading .mif-minus {
      display: none; }
  .panel .content .list {
    padding: 0px; }
    .panel .content .list img {
      display: none; } }
@media screen and (max-width: 768px) {
  body #container {
    padding-top: 10px;
    width: 100%; } }

/*# sourceMappingURL=header-style.css.map */
