/*$Bg-Color :#144955;
$Pattern-Color:#F7F5E9;
$LoGo-Color:#C25B56;*/
/*C25B56*/
/*30EC6C*/
/*#0F7C94*/
/*ABA790*/
/*walaaaa
#51AE9D
#21B6A8
#A60A0A
*/
Back-Ground-Style, body #BG {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

OpacityBG, body #BG #OpacityBg {
  height: inherit; }

body .cell {
  background-color: transparent; }
body .genederLabels {
  padding-top: 25px; }
body .app-bar {
  padding-right: 5%;
  background-color: #013b4f; }
  body .app-bar .app-bar-element.branding:hover {
    background-color: transparent; }
  body .app-bar ul.app-bar-menu .app-bar-divider {
    float: none; }
  body .app-bar ul.app-bar-menu li:hover, body .app-bar ul.app-bar-menu li > a:hover {
    color: white;
    background-color: #45bfb9; }
  body .app-bar .app-bar-divider {
    background-color: #fbb116; }
  body .app-bar .app-bar-element.place-right {
    float: right;
    color: white; }
    body .app-bar .app-bar-element.place-right a.dropdown-toggle, body .app-bar .app-bar-element.place-right .dropdown-toggle:before, body .app-bar .app-bar-element.place-right span {
      color: white; }
    body .app-bar .app-bar-element.place-right:hover {
      background-color: #45bfb9; }
      body .app-bar .app-bar-element.place-right:hover a.dropdown-toggle, body .app-bar .app-bar-element.place-right:hover .dropdown-toggle:before, body .app-bar .app-bar-element.place-right:hover span {
        background-color: #45bfb9; }
      body .app-bar .app-bar-element.place-right:hover .error {
        color: red; }
    body .app-bar .app-bar-element.place-right .error {
      color: red; }
  body .app-bar .app-bar-element.active-container, body .app-bar .app-bar-element > .app-bar-drop-container {
    color: #45bfb9; }
    body .app-bar .app-bar-element.active-container:hover a.dropdown-toggle, body .app-bar .app-bar-element.active-container:hover .dropdown-toggle:before, body .app-bar .app-bar-element.active-container:hover span, body .app-bar .app-bar-element > .app-bar-drop-container:hover a.dropdown-toggle, body .app-bar .app-bar-element > .app-bar-drop-container:hover .dropdown-toggle:before, body .app-bar .app-bar-element > .app-bar-drop-container:hover span {
      background-color: transparent; }
    body .app-bar .app-bar-element.active-container:hover .input-control .check, body .app-bar .app-bar-element.active-container:hover .input-control .mif-user,
    body .app-bar .app-bar-element.active-container:hover .input-control .mif-lock, body .app-bar .app-bar-element > .app-bar-drop-container:hover .input-control .check, body .app-bar .app-bar-element > .app-bar-drop-container:hover .input-control .mif-user,
    body .app-bar .app-bar-element > .app-bar-drop-container:hover .input-control .mif-lock {
      color: #45bfb9; }
    body .app-bar .app-bar-element.active-container:hover .input-control .caption, body .app-bar .app-bar-element > .app-bar-drop-container:hover .input-control .caption {
      color: #013b4f; }
    body .app-bar .app-bar-element.active-container:hover .app-bar-drop-container form .input-control .check:hover, body .app-bar .app-bar-element.active-container:hover .app-bar-drop-container form .input-control .mif-user:hover,
    body .app-bar .app-bar-element.active-container:hover .app-bar-drop-container form .input-control .mif-lock:hover, body .app-bar .app-bar-element.active-container:hover .app-bar-drop-container form .input-control .caption:hover, body .app-bar .app-bar-element > .app-bar-drop-container:hover .app-bar-drop-container form .input-control .check:hover, body .app-bar .app-bar-element > .app-bar-drop-container:hover .app-bar-drop-container form .input-control .mif-user:hover,
    body .app-bar .app-bar-element > .app-bar-drop-container:hover .app-bar-drop-container form .input-control .mif-lock:hover, body .app-bar .app-bar-element > .app-bar-drop-container:hover .app-bar-drop-container form .input-control .caption:hover {
      background-color: transparent; }
  body .app-bar .app-bar-drop-container {
    background-color: white;
    border-color: #fbb116; }
    body .app-bar .app-bar-drop-container:before {
      border-color: #fbb116;
      background-color: white; }
    body .app-bar .app-bar-drop-container form {
      color: #013b4f; }
      body .app-bar .app-bar-drop-container form h4.text-light {
        font-size: 20px;
        text-align: center; }
      body .app-bar .app-bar-drop-container form input, body .app-bar .app-bar-drop-container form .check {
        border-color: #45bfb9;
        background-color: transparent; }
      body .app-bar .app-bar-drop-container form .mif-user, body .app-bar .app-bar-drop-container form .mif-lock {
        color: #45bfb9; }
      body .app-bar .app-bar-drop-container form .form-actions {
        text-align: center; }
        body .app-bar .app-bar-drop-container form .form-actions .button {
          color: white;
          background-color: #fbb116;
          text-decoration: none; }
          body .app-bar .app-bar-drop-container form .form-actions .button:hover {
            border: 2px solid #45bfb9; }
      body .app-bar .app-bar-drop-container form .caption {
        color: #013b4f; }
body #BG {
  background-image: url("../images/Pattern-BG4.jpg");
  background-attachment: fixed;
  margin-top: 0px;
  margin-bottom: 0px; }
  body #BG #OpacityBg {
    /*            background-color: rgba(253, 255, 164, 0.3);*/
    padding-bottom: 1%; }
    body #BG #OpacityBg .cells2 {
      margin-bottom: 0px; }
    body #BG #OpacityBg #FormWrapper.example {
      margin-top: 1%;
      border: 0px solid;
      padding-left: 4%; }
      body #BG #OpacityBg #FormWrapper.example h1 {
        color: #013b4f;
        font-size: 35px;
        display: inline-block; }
      body #BG #OpacityBg #FormWrapper.example .icon {
        color: #fbb116;
        opacity: 1; }
      body #BG #OpacityBg #FormWrapper.example .input-control.modern .button.helper-button.reveal .mif-looks {
        color: #fbb116; }
      body #BG #OpacityBg #FormWrapper.example .input-control.modern input {
        border-bottom-color: #45bfb9; }
      body #BG #OpacityBg #FormWrapper.example .input-control.modern .label, body #BG #OpacityBg #FormWrapper.example .input-control.modern .informer, body #BG #OpacityBg #FormWrapper.example .input-control.modern .placeholder {
        color: #013b4f; }
      body #BG #OpacityBg #FormWrapper.example .input-control.radio .check {
        border: 2px #fbb116 solid;
        background-color: transparent; }
      body #BG #OpacityBg #FormWrapper.example .input-control.radio .caption {
        color: #013b4f; }
      body #BG #OpacityBg #FormWrapper.example .PictureLabel {
        color: #013b4f; }
      body #BG #OpacityBg #FormWrapper.example .input-file-wrapper, body #BG #OpacityBg #FormWrapper.example .button {
        border-color: #45bfb9;
        background-color: transparent; }
      body #BG #OpacityBg #FormWrapper.example .wrapBtns {
        text-align: center; }
        body #BG #OpacityBg #FormWrapper.example .wrapBtns input {
          color: white;
          background-color: #fbb116;
          text-decoration: none;
          margin-left: 2%;
          width: 40%;
          border-color: #fbb116;
          font-size: 18px; }
          body #BG #OpacityBg #FormWrapper.example .wrapBtns input:hover {
            border: 2px solid #45bfb9; }
  body #BG .Logo {
    text-align: center;
    padding: 0px;
    margin-top: 3%;
    border: 0px solid;
    float: right; }
    body #BG .Logo img {
      width: 75%; }
  body #BG .Footer {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    margin: 0px;
    margin-top: 21px;
    background-color: #013b4f;
    color: white; }

@media only screen and (max-width: 640px) {
  body #BG .Logo img {
    width: 90%; } }
@media only screen and (max-width: 1061px) {
  body #FormWrapper.example .grid {
    padding: 0px; }
    body #FormWrapper.example .grid .cell {
      margin: 0px 10px; } }

/*# sourceMappingURL=login-style.css.map */
