/*$Bg-Color :#144955;
$Pattern-Color:#F7F5E9;
$LoGo-Color:#C25B56;*/
/*C25B56*/
/*30EC6C*/
/*#0F7C94*/
/*ABA790*/
/*walaaaa
#51AE9D
#21B6A8
#A60A0A
*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
Back-Ground-Style, body #ProfileContainer, body #ProfileContainer .AddInterest #dialog9, body #changePasswordPopoup, body #dialog8 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

OpacityBG {
  height: inherit; }

/*@import url(http://fonts.googleapis.com/css?family=Oswald);*/
body {
  background-color: white;
  margin-bottom: 0px; }
  body > .grid {
    margin-bottom: 0px; }
  body .cell {
    background-color: transparent;
    margin-top: 15px;
    padding: 5px; }
  body .app-bar {
    color: white;
    background-color: #013b4f;
    font-family: 'Ubuntu', sans-serif; }
    body .app-bar .app-bar-divider {
      background-color: white; }
    body .app-bar .app-bar-element a.dropdown-toggle, body .app-bar .app-bar-element .dropdown-toggle:before, body .app-bar .app-bar-element span {
      color: white; }
    body .app-bar .app-bar-element:hover {
      background-color: white;
      color: #013b4f; }
      body .app-bar .app-bar-element:hover a.dropdown-toggle, body .app-bar .app-bar-element:hover .dropdown-toggle:before, body .app-bar .app-bar-element:hover span {
        background-color: white;
        color: #013b4f; }
    body .app-bar ul.app-bar-menu li:hover, body .app-bar ul.app-bar-menu a:hover {
      background-color: #45bfb9;
      color: white; }
    body .app-bar ul.app-bar-menu span {
      padding-bottom: 7px;
      margin-right: 2px; }
  body .sidebar2 {
    margin-right: 10px;
    border: 0px white solid;
    margin-top: 30px;
    background-color: white; }
    body .sidebar2 .set-border {
      border: 0px white solid; }
    body .sidebar2 div.sidebar-headings {
      padding-left: 0px;
      padding-right: 0px; }
      body .sidebar2 div.sidebar-headings div.logoSideBar img {
        border-bottom: 4px #45bfb9 solid;
        padding: 20px; }
      body .sidebar2 div.sidebar-headings .panel {
        margin-left: 20px;
        margin-right: 20px; }
        body .sidebar2 div.sidebar-headings .panel .heading {
          margin-top: 20px;
          background-color: #fbb116;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62); }
          body .sidebar2 div.sidebar-headings .panel .heading .icon {
            background-color: #fbb116; }
            body .sidebar2 div.sidebar-headings .panel .heading .icon .fa {
              display: block;
              margin-top: 2px; }
          body .sidebar2 div.sidebar-headings .panel .heading .title {
            margin-left: 22%; }
        body .sidebar2 div.sidebar-headings .panel .active {
          background-color: white;
          color: #45bfb9;
          text-shadow: none; }
          body .sidebar2 div.sidebar-headings .panel .active .icon, body .sidebar2 div.sidebar-headings .panel .active .title {
            background-color: white; }
          body .sidebar2 div.sidebar-headings .panel .active .fa, body .sidebar2 div.sidebar-headings .panel .active .mif-tags, body .sidebar2 div.sidebar-headings .panel .active .mif-heart {
            color: #fbb116; }
  body #ProfileContainer {
    box-shadow: 0px -5px 25px 0px #838071;
    margin-left: 0%;
    padding-left: 2.12765%;
    padding-right: 2.12765%;
    padding-top: 4%;
    width: 81.7%;
    background-image: url("../images/Pattern-BG4.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat; }
    body #ProfileContainer .ProfileExperience .image-container .image-overlay {
      background-color: rgba(3, 155, 149, 0.4); }
      body #ProfileContainer .ProfileExperience .image-container .image-overlay .TagsImgOverlay {
        float: left;
        color: white; }
        body #ProfileContainer .ProfileExperience .image-container .image-overlay .TagsImgOverlay p {
          display: inline-block;
          margin-right: 10px;
          font-size: 18px; }
    body #ProfileContainer .ProfileExperience .primary {
      background-color: #45BFB9;
      color: white;
      border: 0px;
      margin: 0px;
      border-radius: 4px; }
      body #ProfileContainer .ProfileExperience .primary:hover {
        border-bottom: 4px solid #fbb116; }
    body #ProfileContainer .ProfileExperience .label {
      margin-top: 35px; }
      body #ProfileContainer .ProfileExperience .label p {
        font-size: 18px;
        line-height: 25px; }
    body #ProfileContainer .ProfileExperience .Btns {
      margin-top: 10px; }
      body #ProfileContainer .ProfileExperience .Btns .toolbar-button {
        background-color: #98948A; }
        body #ProfileContainer .ProfileExperience .Btns .toolbar-button .mif-pencil, body #ProfileContainer .ProfileExperience .Btns .toolbar-button .fa, body #ProfileContainer .ProfileExperience .Btns .toolbar-button .mif-eye {
          color: white; }
        body #ProfileContainer .ProfileExperience .Btns .toolbar-button:hover {
          border: 2px solid #fbb116; }
    body #ProfileContainer .ProfileExperience .Btns .chnMod {
      background-color: #45bfb9; }
      body #ProfileContainer .ProfileExperience .Btns .chnMod:hover {
        border: 2px solid #fbb116; }
      body #ProfileContainer .ProfileExperience .Btns .chnMod .mif-eye {
        color: white; }
    body #ProfileContainer .ProfileExperience .comments {
      margin-top: 10%; }
      body #ProfileContainer .ProfileExperience .comments .list:hover {
        background-color: transparent; }
      body #ProfileContainer .ProfileExperience .comments .list .list-content:hover {
        background-color: transparent; }
      body #ProfileContainer .ProfileExperience .comments .list .list-content img {
        width: 50px;
        height: 50px;
        float: inherit; }
      body #ProfileContainer .ProfileExperience .comments .list .list-content .list-title {
        display: inline;
        font-size: 18px;
        font-weight: 500; }
      body #ProfileContainer .ProfileExperience .comments .list .list-content .comment-content {
        padding: 10px 0px;
        color: black;
        font-size: 14px; }
    body #ProfileContainer .MyTags #addnewinterest, body #ProfileContainer .MyInterests #addnewinterest {
      background-color: #98948A;
      color: white; }
      body #ProfileContainer .MyTags #addnewinterest:hover, body #ProfileContainer .MyInterests #addnewinterest:hover {
        border: 2px solid #fbb116; }
    body #ProfileContainer .MyTags .image-container .image-overlay, body #ProfileContainer .MyInterests .image-container .image-overlay {
      background-color: rgba(3, 155, 149, 0.4); }
      body #ProfileContainer .MyTags .image-container .image-overlay p, body #ProfileContainer .MyInterests .image-container .image-overlay p {
        margin-top: 45%;
        margin-bottom: 0px;
        font-size: 40px; }
    body #ProfileContainer .MyTags .Btns, body #ProfileContainer .MyInterests .Btns {
      margin-top: 10px;
      margin-bottom: 10px; }
      body #ProfileContainer .MyTags .Btns .active, body #ProfileContainer .MyInterests .Btns .active {
        background-color: #45bfb9; }
        body #ProfileContainer .MyTags .Btns .active .mif-pencil, body #ProfileContainer .MyTags .Btns .active .fa, body #ProfileContainer .MyTags .Btns .active .mif-eye, body #ProfileContainer .MyInterests .Btns .active .mif-pencil, body #ProfileContainer .MyInterests .Btns .active .fa, body #ProfileContainer .MyInterests .Btns .active .mif-eye {
          color: white; }
        body #ProfileContainer .MyTags .Btns .active:hover, body #ProfileContainer .MyInterests .Btns .active:hover {
          background-color: transparent;
          border: 2px #fbb116 solid; }
      body #ProfileContainer .MyTags .Btns .toolbar-button, body #ProfileContainer .MyInterests .Btns .toolbar-button {
        background-color: #98948A;
        color: white; }
        body #ProfileContainer .MyTags .Btns .toolbar-button:hover, body #ProfileContainer .MyInterests .Btns .toolbar-button:hover {
          border: 2px #fbb116 solid; }
    body #ProfileContainer .MyTags .label, body #ProfileContainer .MyInterests .label {
      margin-top: 20px; }
    body #ProfileContainer .MyTags p, body #ProfileContainer .MyInterests p {
      margin-top: 7%;
      margin-bottom: 0px; }
    body #ProfileContainer .AddInterest {
      margin-bottom: 0px; }
      body #ProfileContainer .AddInterest #dialog9 {
        /*                width: 600px; 
                        height: 400px; 
                        display: block; 
                        top: 112px; 
                        overflow-y:scroll;*/
        background-image: url("../images/Pattern-BG4.jpg");
        background-attachment: fixed;
        background-size: contain;
        background-repeat: repeat; }
        body #ProfileContainer .AddInterest #dialog9 h2 {
          margin-left: 50px;
          margin-right: 50px;
          color: #013b4f; }
        body #ProfileContainer .AddInterest #dialog9 p {
          float: left;
          color: #013b4f;
          font-family: "Ubuntu", sans-serif;
          text-align: center;
          margin-right: 10px; }
          body #ProfileContainer .AddInterest #dialog9 p > span:nth-of-type(1) {
            color: #013b4f;
            padding: 10px; }
          body #ProfileContainer .AddInterest #dialog9 p > span:nth-of-type(2) {
            color: #013b4f;
            font-size: 22px;
            font-family: "Ubuntu", sans-serif; }
      body #ProfileContainer .AddInterest .image-container .image-overlay {
        background-color: rgba(131, 128, 113, 0.5); }
      body #ProfileContainer .AddInterest .Btns .toolbar-button, body #ProfileContainer .AddInterest .Btns .toolbar-button.mif-pencil {
        background-color: transparent;
        border: 1px #013b4f solid; }
        body #ProfileContainer .AddInterest .Btns .toolbar-button:hover, body #ProfileContainer .AddInterest .Btns .toolbar-button.mif-pencil:hover {
          border-color: #013b4f;
          background-color: #013b4f;
          color: white; }
    body #ProfileContainer #ProfileSettings.example {
      margin-top: 1%;
      border: 0px solid; }
      body #ProfileContainer #ProfileSettings.example h1 {
        color: #45bfb9;
        border-left: 6px solid #fbb116;
        margin: 0px;
        padding-left: 15px;
        font-weight: bold; }
      body #ProfileContainer #ProfileSettings.example .icon {
        color: #fbb116;
        opacity: 1; }
      body #ProfileContainer #ProfileSettings.example .input-control.modern .button.helper-button.reveal .mif-looks {
        color: #fbb116; }
      body #ProfileContainer #ProfileSettings.example .input-control.modern input {
        border-bottom-color: #45bfb9; }
      body #ProfileContainer #ProfileSettings.example .input-control.modern .label, body #ProfileContainer #ProfileSettings.example .input-control.modern .informer, body #ProfileContainer #ProfileSettings.example .input-control.modern .placeholder {
        color: #013b4f; }
      body #ProfileContainer #ProfileSettings.example .input-control.radio .check {
        border: 2px #fbb116 solid;
        background-color: transparent; }
      body #ProfileContainer #ProfileSettings.example .input-control.radio .caption {
        color: #013b4f; }
      body #ProfileContainer #ProfileSettings.example .PictureLabel {
        color: #013b4f; }
      body #ProfileContainer #ProfileSettings.example .input-file-wrapper, body #ProfileContainer #ProfileSettings.example .button {
        border-color: #45bfb9;
        background-color: transparent; }
      body #ProfileContainer #ProfileSettings.example .switch {
        margin: 20px 0px 20px 0px;
        padding-right: 45px; }
        body #ProfileContainer #ProfileSettings.example .switch .word {
          padding: 10px;
          font-size: 18px;
          color: #008287; }
      body #ProfileContainer #ProfileSettings.example #changepasswordbtn {
        padding: 10px;
        background-color: #48c0ba;
        color: white;
        border: 0px; }
        body #ProfileContainer #ProfileSettings.example #changepasswordbtn:hover {
          border: 2px solid #fbb116; }
      body #ProfileContainer #ProfileSettings.example .wrapBtns {
        text-align: center;
        margin-top: 35px; }
        body #ProfileContainer #ProfileSettings.example .wrapBtns input {
          color: white;
          background-color: #fbb116;
          text-decoration: none;
          margin-left: 2%;
          width: 40%;
          border-color: #fbb116;
          font-size: 18px; }
          body #ProfileContainer #ProfileSettings.example .wrapBtns input:hover {
            border: 2px solid #45bfb9; }
  body .rating .score {
    display: none; }
  body #changePasswordPopoup {
    background-image: url("../images/Pattern-BG4.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat;
    overflow-y: none; }
  body #dialog8 {
    /*                width: 600px; 
                    height: 400px; 
                    display: block; 
                    top: 112px; 
                    overflow-y:scroll;*/
    background-image: url("../images/Pattern-BG4.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat; }
    body #dialog8 h2 {
      margin-left: 50px;
      margin-right: 50px;
      color: #013b4f;
      text-align: center;
      margin-top: 5%; }
    body #dialog8 p {
      float: left;
      color: #013b4f;
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      margin-right: 10px;
      margin-left: 15px;
      padding: 10px;
      border-radius: 8px;
      background-color: rgba(3, 155, 149, 0.5); }
      body #dialog8 p img {
        color: white;
        padding: 10px; }
      body #dialog8 p > span:nth-of-type(1) {
        color: #013b4f;
        font-size: 22px;
        font-family: "Ubuntu", sans-serif; }
      body #dialog8 p .clicked, body #dialog8 p:hover {
        background-color: rgba(251, 177, 22, 0.5); }
    body #dialog8 .mif-checkmark {
      position: absolute;
      height: 1.5rem;
      width: 1.5rem;
      min-height: 1.5rem;
      text-align: center;
      vertical-align: middle;
      font-size: 1rem;
      font-weight: normal;
      padding: .125rem 0 .625rem 0;
      z-index: 3;
      outline: none;
      cursor: pointer;
      background-color: #fbb116;
      color: white;
      top: 1.25rem;
      right: 3.25rem; }
    body #dialog8 .dialog-close-button {
      background-color: #fbb116;
      color: white; }
  body #changePasswordPopoup div {
    margin: 20px; }
    body #changePasswordPopoup div input {
      float: right; }
    body #changePasswordPopoup div span {
      font-size: 18px;
      color: #45bfb9; }
  body #changePasswordPopoup .Buttons {
    text-align: center; }
    body #changePasswordPopoup .Buttons button {
      padding: 10px 20px;
      background-color: #48c0ba;
      color: white;
      border: 0px;
      margin: 5px 15px; }
      body #changePasswordPopoup .Buttons button:hover {
        border: 2px solid #fbb116; }

@media screen and (max-width: 800px) {
  .app-bar:not(.no-responsive-future) .app-bar-pull {
    margin-right: 115px; }

  .app-bar:not(.no-responsive-future) .app-bar-menu {
    border-top: 1px solid white; }

  .app-bar:not(.no-responsive-future) .app-bar-menu li, .app-bar:not(.no-responsive-future) .app-bar-menu li a {
    background-color: #013b4f;
    color: white; }
    .app-bar:not(.no-responsive-future) .app-bar-menu li:hover, .app-bar:not(.no-responsive-future) .app-bar-menu li a:hover {
      background-color: white;
      color: #013b4f; } }
@media screen and (max-width: 885px) {
  body .app-bar.fixed-top {
    position: fixed !important; } }
@media only screen and (max-width: 640px) {
  body #ProfileContainer {
    width: 100%; }
  body .app-bar.fixed-top {
    position: fixed !important; }
  body .sidebar2 {
    float: none;
    max-width: 100%; } }
@media only screen and (max-width: 950px) and (min-width: 770px) {
  .panel .heading {
    font-size: small; }
    .panel .heading .mif-minus {
      display: none; }
  .panel .content .list {
    padding: 0px; }
    .panel .content .list img {
      display: none; } }
@media screen and (max-width: 768px) {
  body #ProfileContainer {
    padding-top: 10px;
    width: 100%; } }
@media screen and (max-width: 507px) {
  #dialog9 h2, #changePasswordPopoup h2 {
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px; }
  #dialog9 div, #changePasswordPopoup div {
    margin: 5px; } }

/*# sourceMappingURL=Profile-Style.css.map */
