/*$Bg-Color :#144955;
$Pattern-Color:#F7F5E9;
$LoGo-Color:#C25B56;*/
/*C25B56*/
/*30EC6C*/
/*#0F7C94*/
/*ABA790*/
/*walaaaa
#51AE9D
#21B6A8
#A60A0A
*/
Back-Ground-Style {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

OpacityBG {
  height: inherit; }

body #container h1 {
  color: #45bfb9;
  border-left: 6px solid #fbb116;
  margin: 0px;
  padding-left: 15px;
  font-weight: bold;
  font-size: 20px; }
body #container h2 {
  font-size: 18px; }
body #container .NotificationContent {
  color: #45bfb9; }
body #container .mif-tag, body #container .mif-user-check, body #container span {
  color: #fbb116; }
body #container .TagsImgOverlay {
  float: left;
  color: white; }
  body #container .TagsImgOverlay p {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px; }
  body #container .TagsImgOverlay span {
    color: white; }

/*# sourceMappingURL=singleTag.css.map */
