/*$Bg-Color :#144955;
$Pattern-Color:#F7F5E9;
$LoGo-Color:#C25B56;*/
/*C25B56*/
/*30EC6C*/
/*#0F7C94*/
/*ABA790*/
/*walaaaa
#51AE9D
#21B6A8
#A60A0A
*/
Back-Ground-Style {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

OpacityBG {
  height: inherit; }

body .Content {
  padding-top: 2%; }
  body .Content #kaamhbundle_tag_description {
    margin: 0px;
    width: 277px;
    height: 109px; }
  body .Content #kaamhbundle_tag_name {
    margin-left: 3.7%; }
  body .Content .PictureLabel {
    float: none; }
  body .Content #kaamhbundle_tag_submit {
    background-color: #45bfb9;
    padding: 10px 20px;
    border: 0px;
    color: white;
    margin-top: 2%; }
    body .Content #kaamhbundle_tag_submit:hover {
      border: 2px solid #fbb116; }

@media screen and (max-width: 725px) and (min-width: 0px) {
  body {
    margin-top: 10%; } }

/*# sourceMappingURL=tagEdit.css.map */
