{% extends '::base.html.twig' %}
    {% block stylesheets %}
            <link  rel="stylesheet" href="{{asset('css/Add-Experience.css')}}" type="text/css"/>
        {% endblock %}
{% block body -%}
    
        <div class="app-bar drop-up fixed-top" data-role="appbar">
            <div class="app-bar-divider place-right"></div>
            <a class="app-bar-element branding">
                <img src="{{asset('images/ProjName.png')}}" alt=""/>
            </a>
            <span class="app-bar-pull"></span>
            <div class="app-bar-element place-right">
                <a class="dropdown-toggle" href="/logout" ><span class="mif-enter"></span> Logout</a>
            </div>
            <div class="app-bar-divider place-right"></div>
            <ul class="app-bar-menu place-right">
                <li><a href="/home"> <span class="mif-home mif-lg"></span></a></li>
                <li><a href="/user/{{ app.user.id }}/show"> Profile</a></li>
                <li><a href="/experience/new" onclick="showDialogTwo()"> Add Experience</a></li>
                <li><a href="/"> About</a></li>
            </ul>

        </div>
   
    <div class="Content">
            <h1>Edit Experience</h1>

            {{ form_start(form ,{attr: {novalidate:'novalidate'}} ) }}
            {{ form_row(form.body)}}
            <br>
            <div class="PictureLabel">Experience Picture <span>(OPtional)</span></div>
            <div class="input-control file" data-role="input">
                {{ form_widget(form.picture,{})}}
                <button class="button" type="button"><img src="/images/Blank_Folder.png"></button>
            </div>
            <br>
         <div>
            {%for item in entity.tags %}
                <a href="/tag/{{item.tag.id}}/show">#{{item.tag.name}}</a>
              
        {%endfor%}
        </div>
            
            <br>
            {{form_end(form)}}
        </div>
       
  

        <ul class="record_actions">

{#    <li>{{ form(delete_form) }}</li>#}
</ul>
{% endblock %}
