{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Experience list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Body</th>
                <th>Picture</th>
                <th>Ishidden</th>
                <th>Isdeleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
 {#               ====>KHOKHA#}
    {#            If Experience is Deleted or Hidden Dont show it to Public User#}
                {% if  entity.isDeleted ==0 %}
                {% if entity.isHidden ==0 and entity.isDeleted ==0 %}
                <td><a href="{{ path('experience_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.body }}</td>
                <td>{{ entity.picture }}</td>
                <td>{{ entity.isHidden }}</td>
                <td>{{ entity.isDeleted }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('experience_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('experience_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
                 {%endif%}
                {%endif%}
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('experience_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
                
           
    {% endblock %}
