<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <link rel="stylesheet" href="{{ asset('js/MTT/TextboxList.css')}}" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="{{ asset('js/MTT/myStyle.css')}}" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="{{ asset('js/MTT/TextboxList.Autocomplete.css')}}" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="{{ asset('css/metro.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/metro-icons.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/docs.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/css/font-awesome.min.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/header-style.css')}}" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link  rel="stylesheet" href="{{asset('css/Add-Experience.css')}}" type="text/css"/>
    </head>
    <body>

        <div class="app-bar drop-up fixed-top" data-role="appbar">
            <div class="app-bar-divider place-right"></div>
            <a class="app-bar-element branding">
                <img src="{{asset('images/ProjName.png')}}" alt=""/>
            </a>
            <span class="app-bar-pull"></span>
            <div class="app-bar-element place-right">
                <a class="dropdown-toggle" href="/logout" ><span class="mif-enter"></span> Logout</a>
            </div>
            <div class="app-bar-divider place-right"></div>
            <ul class="app-bar-menu place-right">
                <li><a href="/home"> <span class="mif-home mif-lg"></span></a></li>
                <li><a href="/user/{{ app.user.id }}/show"> Profile</a></li>
                <li><a href="/experience/new" onclick="showDialogTwo()"> Add Experience</a></li>
                <li><a href="/"> About</a></li>
            </ul>

        </div>

        <div class="Content">
            <h1>Experience creation</h1>

            {{ form_start(form ,{attr: {novalidate:'novalidate'}} ) }}
            {{ form_row(form.body)}}
            <br>
            <div class="PictureLabel">Experience Picture <span>(OPtional)</span></div>
            <div class="input-control file" data-role="input">
                {{ form_widget(form.picture,{})}}
                <button class="button" type="button"><img src="/images/Blank_Folder.png"></button>
            </div>
            <br>

            <div>Enter Tags (must)</div>
            <div class="form_friends">
                <input type="text" name="test3" value="" id="form_tags_input_3" autocomplete="off" style="display: none;" >
                <div class="textboxlist " id="123">
                </div>
            </div>
            <br>
            {{form_end(form)}}
        </div>

        <script src="{{ asset('js/MTT/mootools-1.2.1-core-yc.js') }}"></script>
        <script src="{{ asset('js/MTT/addExperience.js') }}"></script>
        <script src="{{ asset('js/MTT/GrowingInput.js') }}"></script>

        <script src="{{ asset('js/MTT/TextboxList.js') }}"></script>

        <script src="{{ asset('js/MTT/TextboxList.Autocomplete.js') }}"></script>


        <script src="{{ asset('js/MTT/TextboxList.Autocomplete.Binary.js') }}"></script>

    </body>
</html>

