{% extends "::base.html.twig"%}

{% block stylesheets %}
    <link href="{{ asset('css/SingleExperiencePage.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body -%}

    <!-- Header -->
    <div class="app-bar drop-up fixed-top" data-role="appbar">
        <a class="app-bar-element branding">
            <img src="{{asset('images/ProjName.png')}}" alt=""/>
        </a>
        <span class="app-bar-pull"></span>
        <div class="app-bar-element place-right">
            <a class="dropdown-toggle" href="/logout" ><span class="mif-enter"></span> Logout</a>
        </div>
        <div class="app-bar-divider place-right"></div>
        <ul class="app-bar-menu place-right">
            <li><a href="/home"> <span class="mif-home mif-lg"></span></a></li>
            <li><a href="/user/{{ owner.id }}/show"> Profile</a></li>
            <li><a href="/experience/new"> Add Experience</a></li>
            <li><a href="/"> About</a></li>
        </ul>
    </div>


    <div class="grid">
        <div class="row cells5">
            <!-- SIDEBAR -->
            <div class="cell SideBar">
                <div class="sidebar2">
                    <div class="sidebar-headings listview set-border padding10" data-role="listview">
                        <div class="logoSideBar">
                            <img src='/images/Red-Edited-Logo.png' class="responsive" />
                        </div>
                        {#===============Trendy TAG ========================#}
                        <div class="panel collapsible" data-role="panel">
                            <div class="heading">
                                <span class="title">Trendy Tags</span>
                            </div>
                            <div class="content">
                                <div class="list-group-content" style="display: block;">
                                    {%for  item in trendyTag %}

                                        <div class="list-title">
                                            <span class="mif-tag"></span>
                                            <a href="/tag/{{item[0].id}}/show"> 
                                                <span class="">{{item[0].name[:10]}}</span>
                                            </a>
                                        </div>

                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        {#==================================================#}
                        {#============= Notification =================#}
                        <div class="panel collapsible" data-role="panel">
                            <div class="heading">
                                <span class="title" >Notifications</span>
                            </div>
                            <div class="content">
                                <div class="list-group-content" style="display: block;">
                                    
                                    {%for  item in popularExp %}
                                     <a href="/experience/{{item.experience.id}}/show">
                                        <div class="list-title">
                                            <span class="mif-user-check mif-2x"></span>
                                            <span class="NotificationContent">someone comment oh your expeirnce "{{item.body[:10]}}..."</span> 

                                        </div>
                                     </a>
                                    {%endfor%}

                                </div>
                            </div>
                        </div>
                        {#==================================================#}
                    </div>
                </div>
            </div>   

            <!-- Hidden fields -->
            <input type="hidden" id="expid" value="{{entity.id}}">
            <input type="hidden" id="ownerdata" value="{{owner.isHidden}}:{{owner.fristName}}:{{asset(owner.profilePicture)}}:{{asset('images/Anonymous.png')}}">

            <!------------------------------------->

            <!-- Body -->
            <div class="cell colspan4" id="container">

                <div class="row cells2 searchRow">
                    <div class="cell"></div>
                    <div class="cell">
                        <div class="input-control text place-right full-size" data-role="input">
                            <input type="text" style="padding-right: 54px;">
                            <button class="button"><span class="mif-search"></span></button>
                        </div>
                    </div>
                </div> 
                <div class="row cells2">
                    <div class="cell">
                        <div class="image-container">
                            <div class="frame">
                                <img src="{{asset(entity.picture)}}">
                            </div>
                            <div class="image-overlay">
                                {%for item2 in entity.tags%}
                                    <div class="TagsImgOverlay">
                                        <span class="mif-tag"></span>
                                        <p>{{item2.tag.name}}</p>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <p>
                            {{ entity.body }}           
                        </p>
                        {# style="pointer-events:none;"#}
                        <div class="rating" data-role="rating" data-size="default" data-value="{{rates}}">
                        </div>
                        {#//#}
                        {%if(owner.id==entity.user.id)%} 
                            <div class="Btns place-right">
                                <a href="{{ path('experience_edit', { 'id': entity.id }) }}">
                                    <button class="toolbar-button">
                                        <span class="mif-pencil"></span>
                                    </button>
                                </a>
                            </div>
                        {%else %}
                            {%if(reported==false)%}
                                <li><button id="btn" >Report</button></li>
                                {%endif%} 
                            {%endif%} 
                            {#//
                            #}                    </div>
                </div>

                <div class="SingleExprience">
                    <div class="label comments" id="{{entity.id}}xContainer"  >
                        <div class="list">
                            <div class="list-content">
                                <img src="{{asset(app.user.profilePicture)}}" style="width:50px; height: 50px;"alt=""/>
                                <span class='list-title'>{{app.user.fristName}}</span>
                                <div class="comment-content">
                                    <div class="input-control text full-size">
                                        <input id="{{entity.id}}xinputcomment" type="text" class="mycommentcontainer" placeholder="Share Your Opinion Here...">
                                    </div>
                                </div>
                            </div>
                        </div>

                        {%for item in entity.comments%}
                            <div class="list" id="{{item.id}}xcomment">
                                {%if(item.user.isHidden==1)%}
                                    <img src="{{asset('images/Anonymous.png')}}" style="width:50px; height: 50px;"alt=""/>
                                    <span class="list-title">Anonymous</span>                 
                                {%else%}   
                                    <img src="{{asset(item.user.profilePicture)}}"  style="width:50px; height: 50px;" alt=""/>
                                    <span class="list-title">{{item.user.fristName}}</span>          
                                {%endif%}   
                                <div class="comment-content">
                                    <div class="padding10 op-white">
                                        {%if(owner.id==item.user.id)%}
                                            <div class="Btns place-right">
                                                <button id="{{item.id}}xu" onclick="editcomment(this.id)" ><span class="mif-pencil"></span></button>
                                                <button id="{{item.id}}xd" onclick="deletecomment(this.id)"><i class="fa fa-times"></i></button>
                                            </div>
                                        {%endif%}
                                        <p id="{{item.id}}p">{{item.body}}</p>
                                    </div>
                                </div>                               
                            </div>
                        {%endfor%}

                    </div>
                </div>              


            </div>                



        </div>
    </div>

    {# //--------------------People who Reported it already#}
    {#{{entity.reports[1].user.id}}
     {%for user in entity.reports%}
          {%if(owner.id==user.user.id)%} 
    {   {{user.user.id}}
    Yo cant Report Again
    {%endif%} 
    {%endfor%}#}

    {#////////////////////////////////////////////////////////////#}
    {#   if owner Can delete and edit th experience other Can report it#}
    {#{{dump(owner.id)}}#}




    {#<h1>The Original Bootstrap Rating Input <small>in action...</small></h1>

 <p>My rating: <input type="number" name="your_awesome_parameter" id="some_id" class="rating" data-clearable="remove"/></p>
          #}




    <br>
    {#    <div id='commentContainer' border="1">
            <h3>all Comments</h3>
            {%for item in entity.comments%}
                <div id="{{item.id}}">
                    <p id="{{item.id}}p">{{item.body}}</p>
                    {%if(owner.id==item.user.id)%} 
                        <button id="{{item.id}}xu" onclick="editcomment(this.id)" >Edit</button>
                        <button id="{{item.id}}xd" onclick="deletecomment(this.id)" >Delete</button>
                    {%endif%}
                </div>
            {%endfor%}
    
        </div>#}
    {#    <br><br>
        <h3>Add Comment</h3>
        <input type="text" id="comment" />
    
        <button id="comment_btn">Save Comment</button>
    
        <br>#}

    {#////////////////////////////////////////////////////////////#}       

    {#<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="myreport">
                        <label for="complain">Complain:</label>
                        <input type="textarea" class="form-control" id="complain">
                    </div>
                    <input type="hidden" id="expid" value="{{entity.id}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id='save'>Save</button>
                </div>
            </div>
    
        </div>
    </div>#}

    <div data-role="dialog" id="dialog8" class="padding20 dialog" data-close-button="true" data-overlay="true" data-overlay-color="op-dark" style="width: 600px; height: 400px; display: none; top: 112px; overflow-y:scroll">  <!--left: 555.5px;--> 
        <h2>Add Your Complain</h2>
        <span class="dialog-close-button"></span>
        <input type="textarea" id="complain">
        <input type="hidden" id="expid" value="{{entity.id}}">
        <h5 id="myreport"></h5>
        <button type="button"  id='save'>Save</button>
        <button type="button" id='close' >Close</button>

    </div>


    <script src="{{ asset('js/AddComment2.js') }}"></script>
    <script src="{{ asset('js/DeleteComment2.js') }}"></script>
    <script src="{{ asset('js/EditComment2.js') }}"></script>
    <script src="{{ asset('js/AddReport.js') }}"></script>

{% endblock %}

