{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User edit</h1>
    
    {{ form(edit_form,{attr: {novalidate:'novalidate'}} ) }}

        <ul class="record_actions">
    <li>
    </li>
   
</ul>
{% endblock %}
