{% extends '::base.html.twig' %}


{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fristname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Password</th>
                <th>Gender</th>
                <th>Profilepicture</th>
                <th>Ishidden</th>
                <th>Isactive</th>
                <th>Facebooktoken</th>
                <th>Isadmin</th>
                <th>Createdate</th>
                <th>Logoutdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.fristName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.gender }}</td>
                <td>{{ entity.profilePicture }}</td>
                <td>{{ entity.isHidden }}</td>
                <td>{{ entity.isActive }}</td>
                <td>{{ entity.faceBookId }}</td>
                <td>{{ entity.isAdmin }}</td>
                <td>{% if entity.createDate %}{{ entity.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.logoutDate %}{{ entity.logoutDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit') }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
