{% extends '::base.html.twig' %}



{% block body -%}
    
    <h1>User creation</h1>

    {{ form(form ,{attr: {novalidate:'novalidate'}} ) }}


        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
</ul>
 <a href="{{ fbURL }}">
            SignUp with facebook
        </a>
 {% if error is defined%}
 {{ error }}
 {%endif%}
{% endblock %}
