{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Profile-Style.css')}}" type="text/css"/>

{% endblock %}

{% block body -%}

    <!-- Header -->
    <div class="app-bar drop-up fixed-top" data-role="appbar">
        <!--            <div class="app-bar-divider place-right"></div>
                    <a class="app-bar-element branding">Project Name</a>-->
        <span class="app-bar-pull"></span>
        <div class="app-bar-element place-right">
            <a class="dropdown-toggle" href="/logout" ><span class="mif-enter"></span> Logout</a>
        </div>
        <div class="app-bar-divider place-right"></div>
        <ul class="app-bar-menu place-right">
            <li><a href="/home"> <span class="mif-home mif-lg"></span></a></li>
            <li><a href="/experience/new"> Add Experience</a></li>
            <li><a href="/"> About</a></li>
        </ul>
    </div>


    <!-- hiden fields -->

    <input type="hidden" id="ownerdata" value="{{entity.isHidden}}:{{entity.fristName}}:{{asset(entity.profilePicture)}}:{{asset('images/Anonymous.png')}}">     

    <!----------------------->


    <div class="grid">
        <div class="row cells5">


            <!-- SIDEBAR -->
            <div class="cell SideBar">
                <div class="sidebar2">
                    <div class="sidebar-headings listview set-border padding10" data-role="listview">
                        <div class="logoSideBar">
                            <img src="{{asset('images/Red-Edited-Logo.png')}}" class="responsive" />
                        </div>
                        <div class="panel mytab" id="experienceTab">
                            <div class="heading active">
                                <span class="icon"><i class="fa fa-smile-o"></i></span>
                                <span class="title">My Experiences</span>
                            </div>
                        </div>
                        <div class="panel mytab" id="tagTab">
                            <div class="heading">
                                <span class="icon mif-tags"></span>
                                <span class="title">My Tags</span>
                            </div>
                        </div>
                        <div class="panel mytab" id="profileTab">
                            <div class="heading">
                                <span class="icon"><i class="fa fa-cog"></i></span>
                                <span class="title">Profile Settings</span>
                            </div>
                        </div>
                        <div class="panel mytab" id="interestTab">
                            <div class="heading ">
                                <span class="icon mif-heart"></span>
                                <span class="title">Interests</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 


            <!-- Body My Experience -->
            <div class="cell colspan4" id="ProfileContainer">
                <div class="grid">

                    <!-- My Interests -->
                    <!-- Add Interest -->

                    {#-------------------------Interests------------------------------------#}
                    <div class="row cells3 MyInterests allTabs" id="tab1"  style="display: none;">

                        <div class="row cells2 AddInterest">
                            <div class="cell"></div>
                            <div class="cell">
                                <div class="input-control text place-right full-size" data-role="input">
                                    <button class="button" id="addnewinterest"><span class="mif-plus"></span></button>
                                </div>
                            </div>
                        </div>


                       {# {%for item in entity.interests%}
                            <div class="cell" id="div{{item.tag.id}}"  >
                                <div class="cell">
                                    <div class="image-container">
                                        <div class="frame">
                                            <img src="{{asset(item.tag.picture)}}">
                                        </div>
                                        <div class="image-overlay">
                                            <h2>{{item.tag.name}}</h2>
                                        </div>
                                    </div>
                                    <div class="label">
                                        <div class="Btns place-right">
                                            <button class="toolbar-button deleteBtn"  id="{{item.tag.id}}"><span class="mif-cross"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}#}
                        <!-------------- firstBlock ---------------->
                        <div id='cell1' class="cell" >
                            {% set next = 0 %}
                            {%for  item in  entity.interests   %}
                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0 %}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="div{{item.tag.id}}">
                                        <div class="image-container full-size">
                                            <div class="frame">
                                                <img src="{{asset(item.tag.picture)}}">
                                            </div>
                                            <div class="image-overlay">                                            
                                                <p>{{item.tag.name}}</p>
                                            </div>
                                        </div>
                                        <div class="Btns place-right">
                                            <button class="toolbar-button deleteBtn" id="{{item.tag.id}}"><span class="mif-cross"></span></button>
                                        </div>
                                        <br><br>
                                    </div>
                                {%endif%}

                            {%endfor%}
                        </div>
                        <!-------------- Second Block ---------------->
                        <div id='cell2' class="cell" >
                           {% set next = 0 %}
                            {%for  item in  entity.interests   %}

                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0+1 %}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="div{{item.tag.id}}">
                                        <div class="image-container full-size">
                                            <div class="frame">
                                                <img src="{{asset(item.tag.picture)}}">
                                            </div>
                                            <div class="image-overlay">                                            
                                                <p>{{item.tag.name}}</p>
                                            </div>
                                        </div>
                                        <div class="Btns place-right">
                                            <button class="toolbar-button deleteBtn" id="{{item.tag.id}}"><span class="mif-cross"></span></button>
                                        </div>
                                        <br><br>
                                    </div>
                                {%endif%}

                            {%endfor%}
                        </div>
                        <!---------------- Third Block ------------------>
                        <div id='cell3' class="cell" >
                           {% set next = 0 %}
                            {%for  item in  entity.interests   %}
                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0+2 %}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="div{{item.tag.id}}">
                                        <div class="image-container full-size">
                                            <div class="frame">
                                                <img src="{{asset(item.tag.picture)}}">
                                            </div>
                                            <div class="image-overlay">                                            
                                                <p>{{item.tag.name}}</p>
                                            </div>
                                        </div>
                                        <div class="Btns place-right">
                                            <button class="toolbar-button deleteBtn" id="{{item.tag.id}}"><span class="mif-cross"></span></button>
                                        </div>
                                        <br><br>
                                    </div>
                                {%endif%}

                            {%endfor%}
                        </div>
                    </div>

                    {#-------------------------tags------------------------------------#}
                    <!-- Add Tags -->
                    <div class="row cells3 MyTags allTabs" id="tab2" style="display: none;">

                        <!-------------- firstBlock ---------------->
                        <div id='cell1' class="cell" >
                            {% set next = 0 %}
                            {%for  item in  entity.tags|reverse   %}

                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0 %}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="divExp{{item.id}}">
                                        <div class="image-container full-size">
                                            <div class="frame">
                                                <img src="{{asset(item.picture)}}">
                                            </div>
                                            <div class="image-overlay">                                            
                                                <p>{{item.name}}</p>
                                            </div>
                                        </div>
                                        <div class="Btns place-right">
                                            <a href="/tag/{{item.id}}/edit">
                                            <button class="toolbar-button"><span class="mif-pencil"></span></button>
                                            </a>
                                        </div>
                                        <br><br>
                                    </div>
                                {%endif%}

                            {%endfor%}
                        </div>
                        <!-------------- Second Block ---------------->
                        <div id='cell2' class="cell" >
                            {% set next = 0 %}
                            {%for  item in  entity.tags|reverse   %}

                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0+1 %}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="divExp{{item.id}}">
                                        <div class="image-container full-size">
                                            <div class="frame">
                                                <img src="{{asset(item.picture)}}">
                                            </div>
                                            <div class="image-overlay">                                            
                                                <p>{{item.name}}</p>
                                            </div>
                                        </div>
                                        <div class="Btns place-right">
                                             <a href="/tag/{{item.id}}/edit">
                                            <button class="toolbar-button"><span class="mif-pencil"></span></button>
                                             </a>
                                        </div>
                                        <br><br>
                                    </div>
                                {%endif%}

                            {%endfor%}

                        </div>
                        <!---------------- Third Block ------------------>
                        <div id='cell3' class="cell" >
                            {% set next = 0 %}
                            {%for  item in  entity.tags|reverse   %}

                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0 %}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="divExp{{item.id}}">
                                        <div class="image-container full-size">
                                            <div class="frame">
                                                <img src="{{asset(item.picture)}}">
                                            </div>
                                            <div class="image-overlay">                                            
                                                <p>{{item.name}}</p>
                                            </div>
                                        </div>
                                        <div class="Btns place-right">
                                             <a href="/tag/{{item.id}}/edit">
                                            <button class="toolbar-button"><span class="mif-pencil"></span></button>
                                             </a>
                                        </div>
                                        <br><br>
                                    </div>
                                {%endif%}

                            {%endfor%}
                        </div>
                    </div>
                    {#-------------------------experiences------------------------------------#}
                    <!-- My Experience -->
                    <div class="row cells3 ProfileExperience allTabs" id="tab3">
                        <!-------------- First Block ---------------->
                        <div id='cell1' class="cell" >
                            {% set next = 0 %}
                            {%for  item in experiences  %}

                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0 %}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="divExp{{item.id}}">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src="{{asset(item.picture)}}">
                                            </div>
                                            <div class="image-overlay">
                                                {%for item2 in item.tags%}

                                                    <p>{{item2.tag.name}}</p>
                                                {%endfor%}

                                            </div>
                                        </div>
                                        <div class="Btns place-right">
                                              <a href="/experience/{{item.id}}/edit">
                                            <button class="toolbar-button"><span class="mif-pencil"></span></button>
                                              </a>

                                            {%if item.isHidden ==1 %}
                                                <button class="toolbar-button hideExp chnMod" id="hidex{{item.id}}" ><span class="mif-eye"></span></button>
                                                {%else%}
                                                <button class="toolbar-button hideExp" id="hidex{{item.id}}" ><span class="mif-eye"></span></button>

                                            {%endif%}
                                            <button class="toolbar-button deleteExp" id="deletex{{item.id}}" ><i class="fa fa-times"></i></button>
                                        </div>
                                        <br><br>
                                        <div class="label">
                                            <p>
                                                {{item.body[:100]}}...
                                                <a href="/experience/{{item.id}}/show">See More</a>

                                            </p>
                                            {#=======================rate===================================#}
                                            {%set rateValue=0%}
                                            {%if(item.rates is not empty )%}
                                                {%for onerate in item.rates%}
                                                    {% set rateValue = rateValue + onerate.rate %}
                                                {%endfor%}
                                                {%set rateValue = (rateValue)/(item.rates|length) %}
                                            {%endif%}
{#                                            {{rateValue}}#}
                                            {# ========================================================= /#}
                                            <div class="rating" data-role="rating" data-size="default" data-value="{{rateValue}}" style="pointer-events:none;">
                                            </div>
                                            <button id="{{item.id}}xseeMore" class="seeMore1 button primary place-right"><span class="mif-bubbles"></span> Comments</button>

                                            <div class="comments" style="display: none" id="{{item.id}}xContainer">
                                                <div class="list">
                                                    <div class="list-content">
                                                        <div class="comment-content">
                                                            <div class="input-control text full-size">
                                                                <input id="{{item.id}}xinputcomment" class="mycommentcontainer" type="text" placeholder="Share Your Opinion Here...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                {%for comment in item.comments|reverse%}
                                                    <div class="list" id="{{comment.id}}xcomment">
                                                        {%if(comment.user.isHidden==1)%}
                                                            <img src="{{asset('images/Anonymous.png')}}" style="width:50px; height: 50px;"alt=""/>
                                                            <span class="list-title">Anonymous</span>                 
                                                        {%else%}   
                                                            <img src="{{asset(comment.user.profilePicture)}}"  style="width:50px; height: 50px;" alt=""/>
                                                            <span class="list-title">{{comment.user.fristName}}</span>          
                                                        {%endif%}   
                                                        <div class="comment-content">
                                                            <div class="padding20 op-white">
                                                                <p id="{{comment.id}}p">{{comment.body}}</p>
                                                            </div>
                                                        </div>                               
                                                    </div>
                                                {%endfor%}                               


                                            </div>
                                        </div>
                                        <a class="button cycle-button closeComments bg-white mif-expand-less mif-2x place-right" style="display: none" href="#FirstPost"></a>
                                    </div>
                                {%endif%}

                            {%endfor%}
                        </div>
                        <!-------------- Second Block ---------------->
                        <div id='cell2' class="cell" >
                            {% set next = 0 %}
                            {%for  item in experiences  %}


                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0 +1%}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="divExp{{item.id}}" >
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src="{{asset(item.picture)}}">
                                            </div>
                                            <div class="image-overlay">
                                                {%for item2 in item.tags%}

                                                    <p>{{item2.tag.name}}</p>
                                                {%endfor%}

                                            </div>
                                        </div>
                                        <div class="Btns place-right">
                                              <a href="/experience/{{item.id}}/edit">
                                            <button class="toolbar-button"><span class="mif-pencil"></span></button>
                                              </a>

                                            {%if item.isHidden ==1 %}
                                                <button class="toolbar-button hideExp chnMod" id="hidex{{item.id}}" ><span class="mif-eye"></span></button>
                                                {%else%}
                                                <button class="toolbar-button hideExp" id="hidex{{item.id}}" ><span class="mif-eye"></span></button>

                                            {%endif%}

                                            <button class="toolbar-button deleteExp" id="deletex{{item.id}}"><i class="fa fa-times"></i></button>
                                        </div>
                                        <br><br>
                                        <div class="label">
                                            <p>
                                                {{item.body[:100]}}...
                                                <a href="/experience/{{item.id}}/edit">See More</a>
                                            </p>
                                            {#=======================rate===================================#}
                                            {%set rateValue=0%}
                                            {%if(item.rates is not empty )%}
                                                {%for onerate in item.rates%}
                                                    {% set rateValue = rateValue + onerate.rate %}
                                                {%endfor%}
                                                {%set rateValue = (rateValue)/(item.rates|length) %}
                                            {%endif%}
                                            {# ========================================================= /#}
                                            <div class="rating" data-role="rating" data-size="default" data-value="{{rateValue}}" style="pointer-events:none;">                                            </div>
                                            <button id="{{item.id}}xseeMore" class="seeMore1 button primary place-right"><span class="mif-bubbles"></span> Comments</button>

                                            <div class="comments" style="display: none" id="{{item.id}}xContainer">
                                                <div class="list">
                                                    <div class="list-content">
                                                        <div class="comment-content">
                                                            <div class="input-control text full-size">
                                                                <input id="{{item.id}}xinputcomment" class="mycommentcontainer" type="text" placeholder="Share Your Opinion Here...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                {%for comment in item.comments|reverse%}
                                                    <div class="list" id="{{comment.id}}xcomment">
                                                        {%if(comment.user.isHidden==1)%}
                                                            <img src="{{asset('images/Anonymous.png')}}" style="width:50px; height: 50px;"alt=""/>
                                                            <span class="list-title">Anonymous</span>                 
                                                        {%else%}   
                                                            <img src="{{asset(comment.user.profilePicture)}}"  style="width:50px; height: 50px;" alt=""/>
                                                            <span class="list-title">{{comment.user.fristName}}</span>          
                                                        {%endif%}   
                                                        <div class="comment-content">
                                                            <div class="padding20 op-white">
                                                                <p id="{{comment.id}}p">{{comment.body}}</p>
                                                            </div>
                                                        </div>                               
                                                    </div>
                                                {%endfor%}                               


                                            </div>
                                        </div>
                                        <a class="button cycle-button closeComments bg-white mif-expand-less mif-2x place-right" style="display: none" href="#FirstPost"></a>
                                    </div>
                                {%endif%}

                            {%endfor%}


                        </div>
                        <!---------------- Third Block ------------------>
                        <div id='cell3' class="cell" >
                            {% set next = 0 %}
                            {%for  item in experiences  %}


                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0 +2%}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="divExp{{item.id}}">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src="{{asset(item.picture)}}">
                                            </div>
                                            <div class="image-overlay">
                                                {%for item2 in item.tags%}

                                                    <p>{{item2.tag.name}}</p>
                                                {%endfor%}

                                            </div>
                                        </div>
                                        <div class="Btns place-right">
                                              <a href="/experience/{{item.id}}/edit">
                                            <button class="toolbar-button"><span class="mif-pencil"></span></button>
                                              </a>
                                            {%if item.isHidden ==1 %}
                                                <button class="toolbar-button hideExp chnMod" id="hidex{{item.id}}" ><span class="mif-eye"></span></button>
                                                {%else%}
                                                <button class="toolbar-button hideExp" id="hidex{{item.id}}" ><span class="mif-eye"></span></button>

                                            {%endif%}
                                            <button class="toolbar-button deleteExp" id="deletex{{item.id}}" ><i class="fa fa-times"></i></button>
                                        </div>
                                        <br><br>
                                        <div class="label">
                                            <p>
                                                {{item.body[:100]}}...
                                                <a href="/experience/{{item.id}}/show">See More</a>
                                            </p>
                                            {#=======================rate===================================#}
                                            {%set rateValue=0%}
                                            {%if(item.rates is not empty )%}      
                                                {%for onerate in item.rates%}
                                                    {% set rateValue = (rateValue + onerate.rate)%}
                                                {%endfor%}
                                                {%set rateValue = (rateValue)/(item.rates|length) %}
                                            {%endif%}
                                            {# ========================================================= /#}
                                            <div class="rating" data-role="rating" data-size="default" data-value="{{rateValue}}" style="pointer-events:none;">                                            </div>
                                            <button id="{{item.id}}xseeMore" class="seeMore1 button primary place-right"><span class="mif-bubbles"></span> Comments</button>

                                            <div class="comments" style="display: none" id="{{item.id}}xContainer">
                                                <div class="list">
                                                    <div class="list-content">
                                                        <div class="comment-content">
                                                            <div class="input-control text full-size">
                                                                <input id="{{item.id}}xinputcomment" class="mycommentcontainer" type="text" placeholder="Share Your Opinion Here...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                {%for comment in item.comments|reverse%}
                                                    <div class="list" id="{{comment.id}}xcomment">
                                                        {%if(comment.user.isHidden==1)%}
                                                            <img src="{{asset('images/Anonymous.png')}}" style="width:50px; height: 50px;"alt=""/>
                                                            <span class="list-title">Anonymous</span>                 
                                                        {%else%}   
                                                            <img src="{{asset(comment.user.profilePicture)}}"  style="width:50px; height: 50px;" alt=""/>
                                                            <span class="list-title">{{comment.user.fristName}}</span>          
                                                        {%endif%}   
                                                        <div class="comment-content">
                                                            <div class="padding20 op-white">
                                                                <p id="{{comment.id}}p">{{comment.body}}</p>
                                                            </div>
                                                        </div>                               
                                                    </div>
                                                {%endfor%}                               


                                            </div>
                                        </div>
                                        <a class="button cycle-button closeComments bg-white mif-expand-less mif-2x place-right" style="display: none" href="#FirstPost"></a>
                                    </div>
                                {%endif%}

                            {%endfor%}
                        </div>
                    </div>

                    {#----------------------------- Profile ------------------------------------------#}
                    <!--Profile Settings-->
                    <div  class="example cell allTabs" id="ProfileSettings"  style="display: none;">
                        <h1>Update Your Information</h1>
                        <div class="grid" id="BG">
                            <div class="row cells3"> 
                                <div id="FormWrapper" class="cell colspan2">
                                    {{ form_start(form ,{attr: {novalidate:'novalidate'}} ) }}
                                    <div class="grid">
                                        <div class="row cells2">
                                            <div class="cell">
                                                <div class="input-control modern text iconic">
                                                    {{ form_widget(form.fristName,{})}}
                                                    <span class="label">First Name</span>
                                                    <span class="informer">Please enter your First Name</span>
                                                    <span class="icon mif-user"></span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="input-control modern text iconic">
                                                    {{ form_widget(form.lastName,{})}}
                                                    <span class="label">Last Name</span>
                                                    <span class="informer">Please enter your Last Name</span>
                                                    <span class="icon mif-user"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="grid">
                                        <div class="row cells2">
                                            <div class="cell">
                                                <div class="input-control modern password iconic" data-role="input">
                                                    {{ form_widget(form.email,{})}}
                                                    <span class="label">E-mail</span>
                                                    <span class="informer">Please enter your E-mail</span>
                                                    <span class="icon mif-mail"></span>
                                                </div>
                                            </div>

                                            <div class="cell genederLabels"> 
                                                <label class="input-control radio">

                                                    {{ form_widget(form.gender[0],{})}}
                                                    <span class="check"></span>
                                                    <span class="caption"> Male </span>
                                                </label>
                                                <label class="input-control radio">
                                                    {{ form_widget(form.gender[1],{})}}
                                                    <span class="check"></span>
                                                    <span class="caption"> Female </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="grid">
                                        <div class="row cells2">
                                            <div class="cell">
                                                <label class="PictureLabel">Profile Picture</label>
                                                <div class="input-control file full-size" data-role="input">
                                                    {{ form_widget(form.profilePicture,{})}}
                                                    <button class="button" type="button"><img src="{{asset('images/Blank_Folder.png')}}"></button>
                                                </div></div>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="row cells2"> 
                                            <label class="switch cell">
                                                <span class="word">Anonymous :</span>
                                                {{ form_widget(form.isHidden,{})}}
                                                <span class="check"></span>
                                            </label>

                                            <label class="switch cell">
                                                {#<span class="word">Active :</span>
                                                {{ form_widget(form.isActive,{})}}
                                                <span class="check"></span>#}
                                            </label>   


                                           {# <label class="switch cell">
                                                <span class="word">Active :</span>
                                                {{ form_widget(form.isActive,{})}}
                                                <span class="check"></span>

                                            </label>   #}
  

                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="row cells2"> 
                                            <div class="cell">
                                                <button type="button" id="changepasswordbtn">Change Password</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapBtns">
                                        <input type="submit" value="Submit" >
                                    </div>

                                    {{form_end(form)}}
                                </div>
                            </div>

                        </div>
                    </div>


                    {#-----------------------------------------------------------------------#}
                    <div data-role="dialog" id="changePasswordPopoup" class="padding20 dialog" data-close-button="true" data-overlay="true" data-overlay-color="op-dark" style="width: 600px; height: 400px; display: none; top: 112px; overflow-y:scroll">  <!--left: 555.5px;--> 
                        <input type="hidden" value="{{entity.id}}" id="userid"/>
                        <div>
                            <span>old pass: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><input type="password" id="oldpass"/><br>
                        </div>
                        <div>
                            <span>new pass: &nbsp; &nbsp; &nbsp; &nbsp;</span> <input type="password" id="newpass"/><br>
                        </div>
                        <div>
                            <span>repeat pass:&nbsp; &nbsp; &nbsp;&nbsp;</span><input type="password" id="repeatpass"/><br>
                        </div>
                        <h5 id="passmsg"></h5>
                        <div class="Buttons">
                            <button type="button"  id="changePassword">Save</button>
                            <button type="button" id='closePopup' >Close</button>
                        </div>

                    </div>
                    {#--------------------------------------------------#}

                </div>
            </div>                       
        </div>
    </div>
                    
    <div data-role="dialog" id="dialog8" class="padding20 dialog" data-close-button="true" data-overlay="true" data-overlay-color="op-dark" style="width: 600px; height: 400px; display: none; top: 112px; overflow-y:scroll">  <!--left: 555.5px;--> 
        <h2>Pick Up Interests Topics</h2>
        {#
        <div>
            <button type="button" class="btn btn-primary" id='saveIntersests'>Save</button>
        </div>#}
        <span class="mif-checkmark btn btn-primary" id='saveIntersests'></span>
        <span class="dialog-close-button"></span>
        {% for item in Tages %}
            {%set x=0%}
            {% for item2 in entity.interests %}

                {%if(item.id == item2.tag.id)%}                   
                    {%set x=1%}
                {%endif%}

            {%endfor%} 
            {%if(x==0)%}
                <div id="{{ item.id }}" class="iterest"> 
                    <p>
                        <img src="{{asset(item.picture)}}" style="width: 40px; height: 40px;">
                        <br>
                        <span>
                            {{ item.name }}
                        </span>
                    </p>
                </div>
            {%endif%}

        {%endfor%}
        {#        <button type="button" >Close</button>
        #}
    </div>

    <script  src="{{ asset('js/HandleTabs.js') }}"></script>               
    <script  src="{{ asset('js/Design.js') }}"></script>
    <script  src="{{ asset('js/ChangePassword.js') }}"></script>
    <script  src="{{ asset('js/HideExperience.js') }}"></script>
    <script  src="{{ asset('js/DeleteExperience.js') }}"></script>

    <script  src="{{ asset('js/DeleteIntersetes.js') }}"></script>
    <script  src="{{ asset('js/AddComment2.js') }}"></script>
    <script  src="{{ asset('js/DeleteComment2.js') }}"></script>
    <script  src="{{ asset('js/EditComment2.js') }}"></script>
    <script  src="{{ asset('js/AddIntersetes2.js') }}"></script>


{% endblock %}

