@import "variables.scss";


StyleCols
{
    padding:3%;
    background-color: white;
}
StyleColsH
{
    color: $Orange;
    border-left: 6px solid $Orange;
    margin: 0px;
    padding-left: 15px;
    font-weight: bold;
}
StyleColsP
{
    color: rgb(194, 91, 86);
    letter-spacing: 1px;
    line-height: 25px;
    color: $Bg-Color;
    font-weight: bold;
}

body
{
    background-color:$Pattern-Color;
    &>.grid
    {
        margin-bottom: 0px;
    }
    .cell
    {
        background-color: transparent;
        margin-top: 15px;
        padding: 5px;
    }
    .app-bar
    {
        color:$Pattern-Color;
        background-color:$Bg-Color;
        .app-bar-divider
        {
            background-color: $Orange;
        }
        .app-bar-element.branding
        {
            img
            {
                margin-top: 7px;
            }
            &:hover
                {
                background-color: transparent;
            }
        }
        .app-bar-element.place-right
        {
            a.dropdown-toggle,.dropdown-toggle:before , span
                {
                color: $Pattern-Color;
            }
            &:hover
                {
                background-color: $lightBlue;
                color: $Pattern-Color;
                text-decoration:none;
                a.dropdown-toggle,.dropdown-toggle:before,span
                    {
                    background-color: $lightBlue;
                    color:$Pattern-Color;
                    text-decoration: none;
                }
            }
        }
        ul.app-bar-menu.place-right
        {
            li,a
            {
                &:hover
                    {
                    background-color: $lightBlue;
                    color: $Pattern-Color;
                    text-decoration: none;
                }
            }
            span.mif-arrow-right
            {
                margin-top: 0px; 
                margin-right: 2px;
                margin-left: 5px;
            }
            span.mif-home
            {
                margin-top: 15px;
            }
        }
    }
    .AboutUs
    {
        box-shadow: 0px -5px 25px 0px rgba(131, 128, 113, 1); 
        padding: 4% 10%;
        margin: 2.12765% 0%;
        margin-bottom: 0px;
        background-image: url('../images/Pattern-BG4.jpg');
        @extend Back-Ground-Style;
        background-attachment: fixed;
        background-size: contain;
        background-repeat:repeat;
        .First-Row.cells3
        {
            .cell.colspan2
            {
                @extend StyleCols;
                margin-top: 4.5%;
                h1
                {
                    @extend StyleColsH;
                }
                p
                {
                    @extend StyleColsP;
                }
            }
        }
        .Second-Row.cells3
        {
            .colspan2
            {
                @extend StyleCols;
                margin-top: 2%;
                h1
                {
                    @extend StyleColsH;
                }
                p
                {
                    @extend StyleColsP;
                }
            }
            .overview
            {
                li{
                    background-color: $Bg-Color;
                    img
                    {
                        background-color: $Pattern-Color;
                    }
                    p
                    {
                        &:nth-of-type(1)
                            {
                            margin-top: 35px;
                        }
                        color: white;
                        text-align: center;
                        font-size: large;
                        margin-bottom: 0px;
                        margin-top: 10px;
                    }
                }
            }
            .bounceInLeft
            {
                -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
                animation-delay: 1s;
            }
            #rotatescroll
            {
                margin-right: 25px;
            }
        }
    }
    .Footer
    {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 500;
        margin: 0px;
        margin-top: 0px;
        background-color: $Bg-Color;
        color: $Pattern-Color;
    }
}
img { border: 0; }
/* Tiny Circleslider */
#rotatescroll { height:300px; position:relative; width:300px; }
#rotatescroll .viewport{ height:300px; position: relative; margin:0 auto; overflow:hidden; width:300px }
#rotatescroll .overview { position: absolute; width: 798px; list-style: none; margin: 0; padding: 0;  left: 0; top: 0; }
#rotatescroll .overview li { height:300px; width:300px; float: left; position: relative; }
/*#rotatescroll .overlay {background:url(../images/bg-rotatescroll.png) no-repeat 0 0; pointer-events: none; position: absolute; left: 0; top: 0; height:300px; width:300px; }*/
/*#rotatescroll .thumb { background:url(../images/bg-thumb.png) no-repeat 50% 50%; position: absolute; top: -3px; cursor: pointer; left: 137px; width: 100px; z-index: 200;  height: 100px; }*/
#rotatescroll .dot { background:url(../images/bg-dot.png) no-repeat 0 0; display: none; height: 12px; width: 12px; position: absolute; left: 155px; top: 3px; z-index: 100; }
#rotatescroll .dot span { display: none; }


@media screen and (max-width: 800px)
{
    .app-bar:not(.no-responsive-future) .app-bar-pull 
    {
        margin-right: 115px;
    }
    .app-bar:not(.no-responsive-future) .app-bar-menu
    {
        border-top: 1px solid $Pattern-Color;
    }
    .app-bar:not(.no-responsive-future) .app-bar-menu li ,.app-bar:not(.no-responsive-future) .app-bar-menu li a{
        background-color: $Bg-Color;
        color: $Pattern-Color;
        &:hover
            {
            background-color: $Pattern-Color;
            color: $Bg-Color;
        }
    }
}
@media screen and (max-width: 885px)
{
    body
    {
        .app-bar.fixed-top 
        {
            position: fixed !important;
        }
    }
}
@media only screen and (max-width: 640px)
{
    body
    {
        .AboutUs
        {
            margin-top: 10.12765%;
        }
        #container
        {
            width: 100%;
        }
        .app-bar.fixed-top 
        {
            position: fixed !important;
        }
        .sidebar2
        {
            float:none;
            max-width: 100%;
        }
    }
}
@media only screen and (max-width: 950px) and (min-width:770px)
{
    .panel
    {
        .heading
        {
            font-size:small;
            .mif-minus
            {
                display: none;
            }
        }
        .content
        {
            .list
            {
                padding:0px;
                img
                {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px)
{
    body 
    {
        #container
        {
            padding-top: 10px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 370px)and (min-width:0px)
{
    body
    {
        .app-bar
        {
            .branding
            {
                img{
                    height: 10px;
                    width: 25 px;
                }
            }
        }
    }
}

