@import "variables.scss";
/*@import url(http://fonts.googleapis.com/css?family=Oswald);*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body
{

    background-color:$Pattern-Color;
    &>.grid
    {
        margin-bottom: 0px;
    }
    .cell
    {
        background-color: transparent;
        margin-top: 15px;
        padding: 5px;
    }
    .Content
    {
        margin-top: 4.3%;
        background-image: url('../images/Pattern-BG4.jpg');
        @extend Back-Ground-Style;
        background-attachment: fixed;
        background-size: contain;
        background-repeat:repeat;
        height:667px;
        margin-left: 2%;
        padding-top: 2%;
        h1 
        {
            color: $lightBlue;
            border-left: 6px solid $Orange;
            padding-left: 15px;
            margin-bottom:4%;
            font-weight: bold;
        }
        label
        {
            font-size: 18px;
            margin-right: 3%;
        }
        #kaamhbundle_experience_submit
        {
            background-color: rgb(69, 191, 185);
            padding: 10px 20px;
            border: 0px;
            color: white;
            &:hover 
                {
                border: 2px solid $Orange;
            }
        }
        .PictureLabel
        {
            margin-top: 1%;
        }
        .form_friends
        {
            margin-top: 1%;
        }
        #kaamhbundle_experience_body
        {
            margin: 0px;
            width: 319px;
            height: 120px;
        }
    }
}
@media screen and (max-width: 725px)and (min-width:0px)
{
    body
    {
       margin-top: 10%;
    }
}
