@import "variables.scss";

body
{
    background-color:$Pattern-Color;
    &>.grid
    {
        margin-bottom: 0px;
    }
    .cell
    {
        background-color: transparent;
        margin-top: 15px;
        padding: 5px;
    }
    .app-bar
    {
        color:$Pattern-Color;
        background-color:$Bg-Color;
        .app-bar-element.branding
        {
            &:hover
                {
                background-color: transparent;
            }
        }
        .app-bar-divider
        {
            background-color: $Orange;
        }
        .app-bar-element.place-right
        {
            a.dropdown-toggle,.dropdown-toggle:before , span
                {
                color: $Pattern-Color;
            }
            &:hover
                {
                background-color: $lightBlue;
                color: $Pattern-Color;
                a.dropdown-toggle,.dropdown-toggle:before,span
                    {
                    background-color: $lightBlue;
                    color: $Pattern-Color;
                }
            }
        }
        ul.app-bar-menu
        {
            li,a
            {
                &:hover
                    {
                    background-color: $lightBlue;
                    color: $Pattern-Color;
                }
            }
            span
            {
                padding-bottom: 7px;
                margin-right: 2px;
            }
            .mif-home
            {
                display: block;
                margin-top: 14px;
            }
        }
    }
    .sidebar2
    {
        margin-right:10px;
        border:0px white solid;
        margin-top: 30px;
        background-color:$Pattern-Color;
        .set-border
        {
            border:0px white solid;
        }
        div.sidebar-headings
        {
            padding-left:0px;
            padding-right: 0px;
            div.logoSideBar
            {
                img
                {
                    border-bottom: 5px $lightBlue solid;
                    padding: 20px;
                }
            }
            .content
            {
                background-color: $Pattern-Color;
                .list-group-content
                {
                    .list-title
                    {
                        margin-bottom: 10px;
                        padding:5px 10px;
                        &:hover
                            {
                            cursor: pointer;
                            background-color: rgba(255,255,255,.7);
                            border: 1px solid $Orange;
                        }
                        a 
                        {
                            font-size: 20px;
                            &:hover
                                {
                                background-color: transparent;
                            }
                            span
                            {
                                color: $lightBlue;
                            }
                        }

                        .NotificationContent
                        {
                            color:$lightBlue;
                        }
                        .mif-tag,.mif-user-check,span
                        {
                            color:$Orange;
                        }
                    }
                }
            }
        }
        .panel
        {
            margin-left: 20px;
            margin-right: 20px;
            .title
            {
                font-size: medium;
            }
            .heading
            {
                margin-top: 20px;
                background-color: $Orange;
                font-weight: bold;
            }
        }
    }
    #container
    {
        box-shadow: 0px -5px 25px 0px rgba(131, 128, 113, 1);        margin-left: 0%;
        padding-left: 2.12765%;
        padding-right: 2.12765%;
        padding-top: 4%;
        width: 81.7%;
        background-image: url('../images/Pattern-BG4.jpg');
        @extend Back-Ground-Style;
        background-attachment: fixed;
        background-size: contain;
        background-repeat:repeat;
        .image-container .image-overlay
        {
            background-color: rgba(3, 155, 149, 0.4);
            .TagsImgOverlay
            {
                float:left;
                color:$Pattern-Color;
                p 
                {
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 18px;
                }
            }
        }

        .Btns
        {
            margin-top: 10px;
            cursor: pointer;
            .toolbar-button
            {
                background-color: $grey;
                .mif-pencil,.fa,.mif-eye
                {
                    color:$Pattern-Color;
                }
                &:hover
                    {
                    border: 2px solid $Orange;
                }
            }
        }
        .Btns .chnMod
        {
            background-color: $lightBlue;
            &:hover
                {
                border:2px solid $Orange;
            }
            .mif-eye
            {
                color:$Pattern-Color;
            }
        }
        .searchRow
        {
            margin-bottom: 0px;
            .input-control input,.input-control button
            {
                border-color: $Orange;
                background-color: transparent;
                .mif-search
                {
                    color: $Orange;
                }
            }
        }
        .cells3
        {
            .primary
            {
                background-color: #45BFB9;
                color: white;
                border: 0px;
                margin: 0px;
                border-radius: 4px;
                &:hover
                    {
                    border-bottom: 4px solid rgb(251, 177, 22);   
                }
            }
            .comments
            {
                margin-top:10%;
                .list
                {
                    &:hover
                        {
                        background-color: transparent;
                    }
                    .list-content
                    {
                        &:hover
                            {
                            background-color: transparent;
                        }
                        img
                        {
                            width: 50px;
                            height: 50px;
                            float: inherit;
                        }
                        .list-title
                        {
                            display: inline;
                            font-size: 18px;
                            font-weight: 500;
                        }
                        .comment-content
                        {
                            padding: 10px 0px;
                            color: black;
                            font-size: 14px;
                            .mif-pencil,.fa
                            {
                                color:$Bg-Color;
                            }
                        }
                    }
                }
            }
        }
    }
    .rating .score
    {
        display: none;
    }
}

@media screen and (max-width: 800px)
{
    .app-bar:not(.no-responsive-future) .app-bar-pull 
    {
        margin-right: 115px;
    }
    .app-bar:not(.no-responsive-future) .app-bar-menu
    {
        border-top: 1px solid $Pattern-Color;
    }
    .app-bar:not(.no-responsive-future) .app-bar-menu li ,.app-bar:not(.no-responsive-future) .app-bar-menu li a{
        background-color: $Bg-Color;
        color: $Pattern-Color;
        &:hover
            {
            background-color: $Pattern-Color;
            color: $Bg-Color;
        }
    }
}
@media screen and (max-width: 885px)
{
    body
    {
        .app-bar.fixed-top 
        {
            position: fixed !important;
        }
    }
}
@media only screen and (max-width: 640px)
{
    body
    {
        #container
        {
            width: 100%;
        }
        .app-bar.fixed-top 
        {
            position: fixed !important;
        }
        .sidebar2
        {
            float:none;
            max-width: 100%;
        }
    }
}
@media only screen and (max-width: 950px) and (min-width:770px)
{
    .panel
    {
        .heading
        {
            font-size:small;
            .mif-minus
            {
                display: none;
            }
        }
        .content
        {
            .list
            {
                padding:0px;
                img
                {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px)
{
    body 
    {
        #container
        {
            padding-top: 10px;
            width: 100%;
        }
    }
}
