@import "variables.scss";


body
{
    .cell
    {
        background-color: transparent;
    }
    .genederLabels
    {
        padding-top: 25px;
    }
    .app-bar
    {
        padding-right: 5%;
        background-color:$Bg-Color;
        .app-bar-element.branding
        {
            &:hover
                {
                background-color: transparent;
            }
        }
        ul.app-bar-menu 
        {
            .app-bar-divider
            {
                float: none;
            }
            li, li>a
            {
                &:hover
                    {
                    color: $Pattern-Color;
                    background-color: $lightBlue;
                }
            }
        }
        .app-bar-divider
        {
            background-color: $Orange;
        }
        .app-bar-element.place-right
        {
            float: right;
            color:$Pattern-Color;
            a.dropdown-toggle,.dropdown-toggle:before , span
                {
                color: $Pattern-Color;
            }
            &:hover
                {
                background-color: $lightBlue;
                a.dropdown-toggle,.dropdown-toggle:before,span
                    {
                    background-color: $lightBlue;
                }
                .error
                {
                    color:rgb(255,0,0);
                }
            }
            .error
            {
                color:rgb(255,0,0);
            }
        }
        .app-bar-element.active-container ,.app-bar-element>.app-bar-drop-container
        {
            color: $lightBlue;

            &:hover
                {
                a.dropdown-toggle,.dropdown-toggle:before,span
                    {
                    background-color: transparent;
                }
                .input-control .check,.input-control .mif-user,
                .input-control .mif-lock 
                {
                    color: $lightBlue;
                }
                .input-control .caption
                {
                    color: $Bg-Color;
                }
                .app-bar-drop-container
                {
                    form
                    {
                        .input-control .check:hover,.input-control .mif-user:hover,
                            .input-control .mif-lock:hover ,.input-control .caption:hover
                            {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        .app-bar-drop-container
        {
            background-color: $Pattern-Color;
            border-color: $Orange;
            &:before
                {
                border-color: $Orange;
                background-color: $Pattern-Color;
            }
            form
            {
                color:$Bg-Color;
                h4.text-light
                {
                    font-size:20px;
                    text-align:center;
                }
                input,.check
                {
                    border-color: $lightBlue;
                    background-color: transparent;
                }
                .mif-user,.mif-lock 
                {
                    color: $lightBlue;
                }
                .form-actions
                {
                    text-align: center;
                    .button
                    {
                        color: $Pattern-Color;
                        background-color: $Orange;
                        text-decoration:none;
                        &:hover
                            {
                            border: 2px solid $lightBlue;
                        }
                    }
                }
                .caption
                {
                    color: $Bg-Color;
                }
            }
        }
    }
    #BG
    {
        background-image: url('../images/Pattern-BG4.jpg');
        background-attachment: fixed;
        @extend Back-Ground-Style;
        margin-top: 0px;
        margin-bottom:0px;
        #OpacityBg
        {
            /*            background-color: rgba(253, 255, 164, 0.3);*/
            @extend OpacityBG;
            padding-bottom:1%;
            .cells2
            {
                margin-bottom: 0px;
            }
            #FormWrapper.example
            {
                margin-top: 1%;
                border: 0px solid;
                padding-left: 4%;
                h1
                {
                    color: $Bg-Color;
                    font-size: 35px;
                    display: inline-block;
                }
                .icon
                {
                    color: $Orange;
                    opacity: 1;
                }
                .input-control.modern
                {
                    .button.helper-button.reveal
                    {
                        .mif-looks
                        {
                            color: $Orange;
                        }
                    }
                    input
                    {
                        border-bottom-color: $lightBlue;
                    }
                    .label,.informer,.placeholder
                    {
                        color: $Bg-Color;
                    }
                }
                .input-control.radio
                {
                    .check
                    {
                        border:2px $Orange solid;
                        background-color: transparent;
                    }
                    .caption
                    {
                        color: $Bg-Color;
                    }
                }
                .PictureLabel
                {
                    color: $Bg-Color;
                }
                .input-file-wrapper,.button
                {
                    border-color: $lightBlue;
                    background-color: transparent;
                }
                .wrapBtns
                {
                    text-align: center;
                    input
                    {
                        color: $Pattern-Color;
                        background-color: $Orange;
                        text-decoration:none;
                        margin-left: 2%;
                        width: 40%;
                        border-color: $Orange;
                        font-size: 18px;
                        &:hover
                            {
                            border: 2px solid $lightBlue;
                        }
                    }
                }
            }
        }
        .Logo
        {
            text-align: center;
            padding: 0px;
            margin-top: 3%;
            border: 0px solid;
            float:right;
            img
            {
                width: 75%;
            }
        }
        .Footer
        {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: 500;
            margin: 0px;
            margin-top: 21px;
            background-color: $Bg-Color;
            color: $Pattern-Color;
        }
    }
}

@media only screen and (max-width: 640px)
{
    body
    {
        #BG
        {
            .Logo
            {
                img
                {
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1061px)
{
    body
    {
        #FormWrapper.example
        {
            .grid
            {
                padding:0px;
                .cell
                {
                    margin: 0px 10px;
                }
            }
        }
    }
}
