@import "variables.scss";
/*@import url(http://fonts.googleapis.com/css?family=Oswald);*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body
{


    background-color:$Pattern-Color;
    &>.grid
    {
        margin-bottom: 0px;
    }
    .cell
    {
        background-color: transparent;
        margin-top: 15px;
        padding: 5px;
    }
    .app-bar
    {
        color:$Pattern-Color;
        background-color:$Bg-Color;
        font-family: 'Ubuntu', sans-serif;
        .app-bar-divider
        {
            background-color: $Pattern-Color;
        }
        .app-bar-element
        {
            a.dropdown-toggle,.dropdown-toggle:before , span
                {
                color: $Pattern-Color;
            }
            &:hover
                {
                background-color: $Pattern-Color;
                color: $Bg-Color;
                a.dropdown-toggle,.dropdown-toggle:before,span
                    {
                    background-color: $Pattern-Color;
                    color: $Bg-Color;
                }
            }
        }
        ul.app-bar-menu
        {
            li,a
            {
                &:hover
                    {
                    background-color: $lightBlue;
                    color: $Pattern-Color;
                }
            }
            span
            {
                padding-bottom: 7px;
                margin-right: 2px;
            }
        }
    }
    .sidebar2
    {
        margin-right:10px;
        border:0px white solid;
        margin-top: 30px;
        background-color:$Pattern-Color;
        .set-border
        {
            border:0px white solid;
        }
        div.sidebar-headings
        {
            padding-left:0px;
            padding-right: 0px;
            div.logoSideBar
            {
                img
                {
                    border-bottom: 4px $lightBlue solid;
                    padding: 20px;
                }
            }

            .panel
            {
                margin-left: 20px;
                margin-right: 20px;
                .heading
                {
                    margin-top: 20px;
                    background-color: $Orange;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62);
                    .icon
                    {
                        background-color: $Orange;
                        .fa
                        {
                            display: block;
                            margin-top: 2px;
                        }
                    }
                    .title
                    {
                        margin-left: 22%;
                    }
                }
                .active
                {
                    background-color:$Pattern-Color;
                    color: $lightBlue;
                    text-shadow:none;
                    .icon,.title
                    {
                        background-color: $Pattern-Color;
                    }
                    .fa,.mif-tags,.mif-heart
                    {
                        color: $Orange;
                    }
                }
            }
        }
    }
    #ProfileContainer
    {
        box-shadow: 0px -5px 25px 0px rgba(131, 128, 113, 1);        
        margin-left: 0%;
        padding-left: 2.12765%;
        padding-right: 2.12765%;
        padding-top: 4%;
        width: 81.7%;
        background-image: url('../images/Pattern-BG4.jpg');
        @extend Back-Ground-Style;
        background-attachment: fixed;
        background-size: contain;
        background-repeat:repeat;
        .ProfileExperience
        {
            .image-container .image-overlay
            {
                background-color: rgba(3, 155, 149, 0.4);
                .TagsImgOverlay
                {
                    float:left;
                    color:$Pattern-Color;
                    p 
                    {
                        display: inline-block;
                        margin-right: 10px;
                        font-size: 18px;
                    }
                }
            }
            .primary
            {
                background-color: #45BFB9;
                color: white;
                border: 0px;
                margin: 0px;
                border-radius: 4px;
                &:hover
                    {
                    border-bottom: 4px solid rgb(251, 177, 22);   
                }
            }
            .label
            {
                margin-top: 35px;
                p 
                {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
            .Btns
            {
                margin-top: 10px;
                .toolbar-button
                {
                    background-color: $grey;
                    .mif-pencil,.fa,.mif-eye
                    {
                        color:$Pattern-Color;
                    }
                    &:hover
                        {
                        border: 2px solid $Orange;
                    }
                }
            }
            .Btns .chnMod
            {
                background-color: $lightBlue;
                &:hover
                    {
                    border:2px solid $Orange;
                }
                .mif-eye
                {
                    color:$Pattern-Color;
                }
            }
            .comments
            {
                margin-top:10%;
                .list
                {
                    &:hover
                        {
                        background-color: transparent;
                    }
                    .list-content
                    {
                        &:hover
                            {
                            background-color: transparent;
                        }
                        img
                        {
                            width: 50px;
                            height: 50px;
                            float: inherit;
                        }
                        .list-title
                        {
                            display: inline;
                            font-size: 18px;
                            font-weight: 500;
                        }
                        .comment-content
                        {
                            padding: 10px 0px;
                            color: black;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        ///////////////////////////////////////////////////My Tags page & My Interests Page
        .MyTags,.MyInterests
        {
            #addnewinterest
            {
                background-color: $grey;
                color: $Pattern-Color;
                &:hover
                    {
                    border:2px solid $Orange;
                }
            }
            .image-container .image-overlay
            {
                background-color: rgba(3, 155, 149, 0.4);
                p 
                {
                    margin-top: 45%;
                    margin-bottom: 0px;
                    font-size: 40px;
                }
            }
            .Btns
            {
                margin-top: 10px;
                margin-bottom:10px;

                .active
                {
                    background-color: $lightBlue;
                    .mif-pencil,.fa,.mif-eye
                    {
                        color:$Pattern-Color;
                    }
                    &:hover
                        {
                        background-color: transparent;
                        border: 2px $Orange solid;
                    }
                }
                .toolbar-button
                {
                    background-color: $grey;
                    color: $Pattern-Color;
                    &:hover
                        {
                        border: 2px $Orange solid;
                    }
                }
            }
            .label 
            {
                margin-top: 20px;
            }
            p
            {
                margin-top: 7%;
                margin-bottom: 0px;
            }
        }
        .AddInterest
        {
            margin-bottom: 0px;
            #dialog9
            {
                /*                width: 600px; 
                                height: 400px; 
                                display: block; 
                                top: 112px; 
                                overflow-y:scroll;*/
                background-image: url('../images/Pattern-BG4.jpg');
                @extend Back-Ground-Style;
                background-attachment: fixed;
                background-size: contain;
                background-repeat:repeat;
                h2
                {
                    margin-left: 50px;
                    margin-right: 50px;
                    color: $Bg-Color;
                }
                p 
                {
                    float:left;
                    color:$Bg-Color;
                    font-family:$Font;
                    text-align:center;
                    margin-right:10px;
                    &>span:nth-of-type(1)
                        {
                        color:$Bg-Color;
                        padding: 10px;
                    }
                    &>span:nth-of-type(2)
                        {
                        color:$Bg-Color;
                        font-size: 22px;
                        font-family: $Font;
                    }
                }
            }
            .image-container .image-overlay
            {
                background-color: rgba(131, 128, 113, 0.5);
            }
            .Btns
            {
                .toolbar-button ,.toolbar-button.mif-pencil
                {
                    background-color: transparent;
                    border: 1px $Bg-Color solid;
                    &:hover
                        {
                        border-color: $Bg-Color;
                        background-color:$Bg-Color;
                        color: $Pattern-Color;
                    }
                }
            }

        }
        ///////////////////////////////////////////////////My Profile Settings Page
        #ProfileSettings.example
        {
            margin-top: 1%;
            border: 0px solid;
            h1
            {
                color: $lightBlue;
                border-left: 6px solid $Orange;
                margin: 0px;
                padding-left: 15px;
                font-weight: bold;
            }
            .icon
            {
                color: $Orange;
                opacity: 1;
            }
            .input-control.modern
            {
                .button.helper-button.reveal
                {
                    .mif-looks
                    {
                        color: $Orange;
                    }
                }
                input
                {
                    border-bottom-color: $lightBlue;
                }
                .label,.informer,.placeholder
                {
                    color: $Bg-Color;
                }
            }
            .input-control.radio
            {
                .check
                {
                    border:2px $Orange solid;
                    background-color: transparent;
                }
                .caption
                {
                    color: $Bg-Color;
                }
            }
            .PictureLabel
            {
                color: $Bg-Color;
            }
            .input-file-wrapper,.button
            {
                border-color: $lightBlue;
                background-color: transparent;
            }
            .switch
            {
                margin:20px 0px 20px 0px;
                padding-right: 45px;
                .word
                {
                    padding: 10px;
                    font-size: 18px;
                    color: rgb(0, 130, 135);
                }
            }
            #changepasswordbtn
            {
                padding: 10px;
                background-color: rgb(72, 192, 186);
                color: white;
                border: 0px;
                &:hover
                    {
                    border: 2px solid $Orange;
                }
            }
            .wrapBtns
            {
                text-align: center;
                margin-top: 35px;
                input
                {
                    color: $Pattern-Color;
                    background-color: $Orange;
                    text-decoration:none;
                    margin-left: 2%;
                    width: 40%;
                    border-color: $Orange;
                    font-size: 18px;
                    &:hover
                        {
                        border: 2px solid $lightBlue;
                    }
                }
            }
        }
    }
    .rating .score
    {
        display: none;
    }
    #changePasswordPopoup
    {
        background-image: url('../images/Pattern-BG4.jpg');
        @extend Back-Ground-Style;
        background-attachment: fixed;
        background-size: contain;
        background-repeat:repeat;
        overflow-y: none; 
    }
    margin-bottom: 0px;
    #dialog8
    {
        /*                width: 600px; 
                        height: 400px; 
                        display: block; 
                        top: 112px; 
                        overflow-y:scroll;*/
        background-image: url('../images/Pattern-BG4.jpg');
        @extend Back-Ground-Style;
        background-attachment: fixed;
        background-size: contain;
        background-repeat:repeat;
        h2
        {
            margin-left: 50px;
            margin-right: 50px;
            color: $Bg-Color;
            text-align: center;
            margin-top: 5%;
        }
        p 
        {
            float:left;
            color:$Bg-Color;
            font-family:$Font;
            text-align:center;
            margin-right: 10px;
            margin-left: 15px;
            padding: 10px;
            border-radius: 8px;
            background-color: rgba(3, 155, 149, .5);
            img
                {
                color:$Pattern-Color;
                padding: 10px;
            }
            &>span:nth-of-type(1)
                {
                color:$Bg-Color;
                font-size: 22px;
                font-family: $Font;
            }
            .clicked,&:hover
                {
                background-color: rgba(251, 177, 22, .5);
            }
        }
        .mif-checkmark
        {
            position: absolute;
            height: 1.5rem;
            width: 1.5rem;
            min-height: 1.5rem;
            text-align: center;
            vertical-align: middle;
            font-size: 1rem;
            font-weight: normal;
            padding: .125rem 0 .625rem 0;
            z-index: 3;
            outline: none;
            cursor: pointer;
            background-color: $Orange;
            color: $Pattern-Color;
            top: 1.25rem;
            right: 3.25rem;
        }
        .dialog-close-button
        {
            background-color: $Orange;
            color: $Pattern-Color;
        }
    }
    #changePasswordPopoup
    {
        div
        {
            margin: 20px;
            input
            {
                float: right;
            }
            span
            {
                font-size: 18px;
                color: $lightBlue;
            }
        }
        .Buttons
        {
            text-align: center;
            button
            {
                padding: 10px 20px;
                background-color: rgb(72, 192, 186);
                color: white;
                border: 0px;
                margin:5px 15px;
                &:hover
                    {
                    border: 2px solid $Orange;
                }
            }
        }
    }
}


@media screen and (max-width: 800px)
{
    .app-bar:not(.no-responsive-future) .app-bar-pull 
    {
        margin-right: 115px;
    }
    .app-bar:not(.no-responsive-future) .app-bar-menu
    {
        border-top: 1px solid $Pattern-Color;
    }
    .app-bar:not(.no-responsive-future) .app-bar-menu li ,.app-bar:not(.no-responsive-future) .app-bar-menu li a{
        background-color: $Bg-Color;
        color: $Pattern-Color;
        &:hover
            {
            background-color: $Pattern-Color;
            color: $Bg-Color;
        }
    }
}
@media screen and (max-width: 885px)
{
    body
    {
        .app-bar.fixed-top 
        {
            position: fixed !important;
        }
    }
}
@media only screen and (max-width: 640px)
{
    body
    {
        #ProfileContainer
        {
            width: 100%;
        }
        .app-bar.fixed-top 
        {
            position: fixed !important;
        }
        .sidebar2
        {
            float:none;
            max-width: 100%;
        }
    }
}
@media only screen and (max-width: 950px) and (min-width:770px)
{
    .panel
    {
        .heading
        {
            font-size:small;
            .mif-minus
            {
                display: none;
            }
        }
        .content
        {
            .list
            {
                padding:0px;
                img
                {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px)
{
    body 
    {
        #ProfileContainer
        {
            padding-top: 10px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 507px)
{
    #dialog9,#changePasswordPopoup
    {
        h2
        {
            font-size: 20px;
            margin-left: 0px;
            margin-right: 0px;
        }
        div
        {
            margin: 5px;
        }
    }
}

