@import "variables.scss";

body
{
    #container
    {
        h1
        {
            color: $lightBlue;
            border-left: 6px solid $Orange;
            margin: 0px;
            padding-left: 15px;
            font-weight: bold;
            font-size: 20px;
        }
        h2
        {
            font-size: 18px;
        }
        .NotificationContent
        {
            color:$lightBlue;
        }
        .mif-tag,.mif-user-check,span
        {
            color:$Orange;
        }
        .TagsImgOverlay
        {
            float:left;
            color:$Pattern-Color;
            p 
            {
                display: inline-block;
                margin-right: 10px;
                font-size: 18px;
            }
            span
            {
                color:$Pattern-Color
            }
        }
    }
}

