@import "variables.scss";


body
{

    background-color:$Pattern-Color;
    &>.grid
    {
        margin-bottom: 0px;
    }
    .cell
    {
        background-color: transparent;
        margin-top: 15px;
        padding: 5px;
    }
    .app-bar
    {
        color:$Pattern-Color;
        background-color:$Bg-Color;
        .app-bar-divider
        {
            background-color: $Orange;
        }
        .app-bar-element
        {
            a.dropdown-toggle,.dropdown-toggle:before , span
                {
                color: $Pattern-Color;
            }
            &:hover
                {
                background-color: $lightBlue;
                color: $Pattern-Color;
                a.dropdown-toggle,.dropdown-toggle:before,span
                    {
                    background-color: $Pattern-Color;
                    color: $Bg-Color;
                }
            }
        }
        ul.app-bar-menu
        {
            li,a
            {
                &:hover
                    {
                    background-color: $lightBlue;
                    color: $Pattern-Color;
                }
            }
            span
            {
                padding-bottom: 7px;
                margin-right: 2px;
            }
        }
    }
    .sidebar2
    {
        margin-right:10px;
        border:0px white solid;
        margin-top: 30px;
        background-color:$Pattern-Color;
        .set-border
        {
            border:0px white solid;
        }
        div.sidebar-headings
        {
            padding-left:0px;
            padding-right: 0px;
            div.logoSideBar
            {
                img
                {
                    border-bottom: 1px rgb(189, 182, 182) solid;
                    padding: 20px;
                }
            }
            .heading
            {
                margin-top: 20px;
                background-color: $Orange;
            }
            .content
            {
                background-color: $Pattern-Color;
                .list-group-content
                {
                    .list:hover
                        {
                        background-color: rgba(20, 73, 85, 0.3);
                        border-color: $Orange;
                    }
                    .NotificationContent
                    {
                        color:$lightBlue;
                    }
                }
            }
        }
        .panel
        {
            margin-left: 20px;
            margin-right: 20px;
            .title
            {
                font-size: medium;
            }
        }
    }
    #container
    {
        box-shadow: 0px -5px 25px 0px rgba(131, 128, 113, 1);        margin-left: 0%;
        padding-left: 2.12765%;
        padding-right: 2.12765%;
        padding-top: 4%;
        width: 81.7%;
        background-image: url('../images/Pattern-BG4.jpg');
        @extend Back-Ground-Style;
        background-attachment: fixed;
        background-size: contain;
        background-repeat:repeat;
        .image-container .image-overlay
        {
            background-color: rgba(3, 155, 149, .5);
            .TagsImgOverlay
            {
                float:left;
                color:$Pattern-Color;
                p 
                {
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 18px;
                }
            }
        }
        .searchRow
        {
            margin-bottom: 0px;
            .input-control input,.input-control button
            {
                border-color: rgb(194, 91, 86);
                background-color: transparent;
                .mif-search
                {
                    color: $Bg-Color;
                }
            }
        }
        .cells2
        {
            margin-top:1%;
            .cell:nth-child(2)
                {
                p
                {
                    font-size: larger;
                    margin-top: 10%;
                }
                .Btns
                {
                    margin-top: 10px;
                    .toolbar-button
                    {
                        background-color: $grey;
                        .mif-pencil
                        {
                            color:$Pattern-Color;
                        }
                        &:hover
                            {
                            border: 2px solid $Orange;
                        }
                    }
                }
                .rating .score
                {
                    /*                    display: none;*/
                }
            }
        }
        .SingleExprience
        {
            .comments
            {
                margin-top:5%;
                .list
                {
                    &:hover
                        {
                        background-color: transparent;
                    }
                    .list-content
                    {
                        &:hover
                            {
                            background-color: transparent;
                        }
                        img
                        {
                            width: 50px;
                            height: 50px;
                            float: inherit;
                        }
                        .list-title
                        {
                            display: inline;
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }
                    .comment-content
                    {
                        padding: 10px 0px;
                        color: black;
                        font-size: 14px;
                        margin-top:10px;
                        .mif-pencil,.fa
                        {
                            color:$Bg-Color;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px)
{
    .app-bar:not(.no-responsive-future) .app-bar-pull 
    {
        margin-right: 115px;
    }
    .app-bar:not(.no-responsive-future) .app-bar-menu
    {
        border-top: 1px solid $Pattern-Color;
    }
    .app-bar:not(.no-responsive-future) .app-bar-menu li ,.app-bar:not(.no-responsive-future) .app-bar-menu li a{
        background-color: $Bg-Color;
        color: $Pattern-Color;
        &:hover
            {
            background-color: $Pattern-Color;
            color: $Bg-Color;
        }
    }
}
@media screen and (max-width: 885px)
{
    body
    {
        .app-bar.fixed-top 
        {
            position: fixed !important;
        }
    }
}
@media only screen and (max-width: 640px)
{
    body
    {
        #container
        {
            width: 100%;
        }
        .app-bar.fixed-top 
        {
            position: fixed !important;
        }
        .sidebar2
        {
            float:none;
            max-width: 100%;
        }
    }
}
@media only screen and (max-width: 950px) and (min-width:770px)
{
    .panel
    {
        .heading
        {
            font-size:small;
            .mif-minus
            {
                display: none;
            }
        }
        .content
        {
            .list
            {
                padding:0px;
                img
                {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px)
{
    body 
    {
        #container
        {
            padding-top: 10px;
            width: 100%;
        }
    }
}