@import "variables.scss";
body
{
    .Content
    {
        padding-top: 2%;
        #kaamhbundle_tag_description
        {
            margin: 0px;
            width: 277px;
            height: 109px
        }
        #kaamhbundle_tag_name
        {
            margin-left: 3.7%;
        }
        .PictureLabel
        {
            float: none;
        }
        #kaamhbundle_tag_submit
        {
            background-color: rgb(69, 191, 185);
            padding: 10px 20px;
            border: 0px;
            color: white;
            margin-top:2%;
            &:hover 
                {
                border: 2px solid $Orange;
            }
        }
    }
}
@media screen and (max-width: 725px)and (min-width:0px)
{
    body
    {
       margin-top: 10%;
    }
}
