$Bg-Color :#013b4f;
$Pattern-Color:white;
$Orange:#fbb116;
$Body-BG:white;
$lightBlue:#45bfb9;
$grey:#98948A;
$Font: 'Ubuntu', sans-serif;





/*$Bg-Color :#144955;
$Pattern-Color:#F7F5E9;
$LoGo-Color:#C25B56;*/
/*C25B56*/
/*30EC6C*/
/*#0F7C94*/
/*ABA790*/

/*walaaaa
#51AE9D
#21B6A8
#A60A0A
*/

Back-Ground-Style
{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
OpacityBG
{
    height: inherit;
}

