{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link  rel="stylesheet" href="{{asset('css/Add-Experience.css')}}" type="text/css"/>
    <link  rel="stylesheet" href="{{asset('css/tagEdit.css')}}" type="text/css"/>
{% endblock %}

{% block body -%}
    <div class="app-bar drop-up fixed-top" data-role="appbar">
        <div class="app-bar-divider place-right"></div>
        <a class="app-bar-element branding">
            <img src="{{asset('images/ProjName.png')}}" alt=""/>
        </a>
        <span class="app-bar-pull"></span>
        <div class="app-bar-element place-right">
            <a class="dropdown-toggle" href="/logout" ><span class="mif-enter"></span> Logout</a>
        </div>
        <div class="app-bar-divider place-right"></div>
        <ul class="app-bar-menu place-right">
            <li><a href="/home"> <span class="mif-home mif-lg"></span></a></li>
            <li><a href="/user/{{ app.user.id }}/show"> Profile</a></li>
            <li><a href="/experience/new" > Add Experience</a></li>
            <li><a href="/"> About</a></li>
        </ul>

    </div>
            
    <div class="Content">
        <h1>Tag Edit</h1>
        {{ form_start(edit_form ,{attr: {novalidate:'novalidate'}} ) }}

        {{ form_row(edit_form.name)}}
        <br>
        {{ form_row(edit_form.description)}}
        <br>
        <div class="PictureLabel">Tag Picture <span>(Optional)</span></div>
        <div class="input-control file" data-role="input">
            {{ form_widget(edit_form.picture,{})}}
            <button class="button" type="button"><img src="/images/Blank_Folder.png"></button>
        </div>
        <br>

        {{form_end(edit_form)}}
    </div>
{% endblock %}
