{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tag creation</h1>

    {{ form(form ,{attr: {novalidate:'novalidate'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tag') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
