{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{asset('css/header-style.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('css/singleTag.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}{{entity.name}}{% endblock %}
{% block body -%}
    <!-- Header -->
    <div class="app-bar drop-up fixed-top" data-role="appbar">
        <div class="app-bar-divider place-right"></div>
        <a class="app-bar-element branding">
            <img src="{{asset('images/ProjName.png')}}" alt=""/>
        </a>
        <span class="app-bar-pull"></span>
        <div class="app-bar-element place-right">
            <a class="dropdown-toggle"><span class="mif-enter"></span> Logout</a>
        </div>
        <div class="app-bar-divider place-right"></div>
        <ul class="app-bar-menu place-right">
            <li><a href="/home"> <span class="mif-home mif-lg"></span></a></li>
            <li><a href="/user/{{ app.user.id }}/show"> Profile</a></li>
            <li><a href="/experience/new"> Add Experience</a></li>
            <li><a href="/"> About</a></li>
        </ul>
    </div>
    <!-- Header -->


    <div class="grid">
        <div class="row cells5">
            {#===========================side bar=====================#}
            <div class="cell SideBar">
                <div class="sidebar2">
                    <div class="sidebar-headings listview set-border padding10" data-role="listview">
                        <div class="logoSideBar">
                            <img src='/images/Red-Edited-Logo.png' class="responsive" />
                        </div>
                        {#===============Trendy TAG ========================#}
                        <div class="panel collapsible" data-role="panel">
                            <div class="heading">
                                <span class="title">Trendy Tags</span>
                            </div>
                            <div class="content">
                                <div class="list-group-content" style="display: block;">
                                    {%for  item in trendyTag %}

                                        <div class="list-title">
                                            <span class="mif-tag"></span>
                                            <a href="/tag/{{item[0].id}}/show"> 
                                                <span class="">{{item[0].name[:10]}}</span>
                                            </a>
                                        </div>

                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        {#==================================================#}
                        {#============= Notification =================#}
                        <div class="panel collapsible" data-role="panel">
                            <div class="heading">
                                <span class="title" >Notifications</span>
                            </div>
                            <div class="content">
                                <div class="list-group-content" style="display: block;">
                                    {%for  item in notification %}
                                        <a href="/experience/{{item.experience.id}}/show">
                                            <div class="list-title">
                                                <span class="mif-user-check mif-2x"></span>
                                                <span class="NotificationContent">someone comment oh your expeirnce "{{item.body[:10]}}..."</span> 

                                            </div> 
                                        </a>
                                    {%endfor%}

                                </div>
                            </div>
                        </div>
                        {#==================================================#}
                    </div>
                </div>

            </div>

            {#========================================================#}
            <div class="cell colspan4" id="container">
                {#==================Tag info===========================#}

                <div class="grid">
                    <div class="row cells3">
                        <div class='cell'>
                            <div class="image-container full-size">
                                <div class="frame">
                                    <image src="{{asset(entity.picture)}}">
                                </div>
                                <div class="image-overlay">
                                    <h2>{{ entity.name }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class='cell'>
                            <h1>Tag Name :</h1>
                            <h2>{{ entity.name }}</h2>
                            <h1>Description :</h1>
                            <h2>{{ entity.description }}</h2>
                        </div>
                    </div>
                </div>
                {#========================================================#}
                <div class="grid">
                    <div class="row cells3 Body">

                        <!-------------- frist Block ---------------->   
                        <div id='cell1'class="cell">
                            <!-------------- Frist Block ---------------->
                            {%for  item in entity.experiences %}


                                {% if( (loop.index0 % 3) == 0 )%}
                                    <div class="cell"  id="divExp{{item.experience.id}}" >
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src="{{asset(item.experience.picture)}}">
                                            </div>
                                            <div class="image-overlay">
                                                {%for item2 in item.experience.tags%}
                                                    <div class="TagsImgOverlay">
                                                        <span class="mif-tag"></span>
                                                        <p>{{item2.tag.name}}</p>
                                                    </div>
                                                {%endfor%}

                                            </div>
                                        </div>
                                        
                                        <br><br>
                                        <div class="label">
                                            <p>
                                                {{item.experience.body[:100]}}...
                                                <a href="/experience/{{item.experience.id}}/show">See More</a>
                                            </p>

                                            {#=======================rate===================================#}
                                            {%set rateValue=0%}
                                            {%if(item.experience.rates is not empty )%}
                                                {%for onerate in item.experience.rates%}
                                                    {% set rateValue = rateValue + onerate.rate %}
                                                {%endfor%}
                                                {%set rateValue = (rateValue)/(item.experience.rates|length) %}
                                            {%endif%}
                                            {# ========================================================= /#}
                                            <div class="rating" data-role="rating" data-size="default" data-value="{{rateValue}}" style="pointer-events:none;">                                                </div>


                                        </div>
                                        <a class="button cycle-button closeComments bg-white mif-expand-less mif-2x place-right" style="display: none" href="#FirstPost"></a>
                                    </div>
                                {%endif%}

                            {%endfor%}

                        </div>
                        <!-------------- Second Block ---------------->
                        <div id='cell2' class="cell" >
                            {% set next = 0 %}
                            {%for  item in entity.experiences  %}


                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0 +1%}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="divExp{{item.experience.id}}" >
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src="{{asset(item.experience.picture)}}">
                                            </div>
                                            <div class="image-overlay">
                                                {%for item2 in item.experience.tags%}
                                                    <div class="TagsImgOverlay">
                                                        <span class="mif-tag"></span>
                                                        <p>{{item2.tag.name}}</p>
                                                    </div>
                                                {%endfor%}

                                            </div>
                                        </div>
                                        
                                        <br><br>
                                        <div class="label">
                                            <p>
                                                {{item.experience.body[:100]}}...
                                                <a href="/experience/{{item.experience.id}}/show">See More</a>
                                            </p>
                                            {#=======================rate===================================#}
                                            {%set rateValue=0%}
                                            {%if(item.experience.rates is not empty )%}
                                                {%for onerate in item.experience.rates%}
                                                    {% set rateValue = rateValue + onerate.rate %}
                                                {%endfor%}
                                                {%set rateValue = (rateValue)/(item.experience.rates|length) %}
                                            {%endif%}
                                            {# ========================================================= /#}
                                            <div class="rating" data-role="rating" data-size="default" data-value="{{rateValue}}" style="pointer-events:none;">                                                </div>


                                        </div>
                                        <a class="button cycle-button closeComments bg-white mif-expand-less mif-2x place-right" style="display: none" href="#FirstPost"></a>
                                    </div>
                                {%endif%}

                            {%endfor%}


                        </div>
                        <!---------------- Third Block ------------------>
                        <div id='cell3' class="cell" >
                            {% set next = 0 %}
                            {%for  item in entity.experiences  %}


                                {% if( (loop.index0 % 3) == 0 )%}
                                    {%set next= loop.index0 +2%}
                                {%endif%}
                                {% if loop.index0  == next %}

                                    <div class="cell" id="divExp{{item.experience.id}}">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src="{{asset(item.experience.picture)}}">
                                            </div>
                                            <div class="image-overlay">
                                                {%for item2 in item.experience.tags%}
                                                    <div class="TagsImgOverlay">
                                                        <span class="mif-tag"></span>
                                                        <p>{{item2.tag.name}}</p>
                                                    </div>
                                                {%endfor%}

                                            </div>
                                        </div>
                                       {# {%if item.experience.user.id == app.user.id %}
                                            <div class="Btns place-right">
                                                <button class="toolbar-button"><span class="mif-pencil"></span></button>
                                                <button class="toolbar-button hideExp" id="hidex{{item.experience.id}}"><span class="mif-eye"></span></button>
                                                <button class="toolbar-button deleteExp" id="deletex{{item.experience.id}}" ><i class="fa fa-times"></i></button>
                                            </div>
                                        {%endif%}#}
                                        <br><br>
                                        <div class="label">
                                            <p>
                                                {{item.experience.body[:100]}}...
                                                <a href="/experience/{{item.experience.id}}/show">See More</a>
                                            </p>
                                           {#=======================rate===================================#}
                                            {%set rateValue=0%}
                                            {%if(item.experience.rates is not empty )%}
                                                {%for onerate in item.experience.rates%}
                                                    {% set rateValue = rateValue + onerate.rate %}
                                                {%endfor%}
                                                {%set rateValue = (rateValue)/(item.experience.rates|length) %}
                                            {%endif%}
                                            
                                            {# ========================================================= /#}
                                            <div class="rating" data-role="rating" data-size="default" data-value="{{rateValue}}" style="pointer-events:none;">                                                </div>


                                        </div>
                                        <a class="button cycle-button closeComments bg-white mif-expand-less mif-2x place-right" style="display: none" href="#FirstPost"></a>
                                    </div>
                                {%endif%}

                            {%endfor%}
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>


{% endblock %}
